@charset "UTF-8";
body {
  font-size: 0.37333rem;
  line-height: 1;
  max-width: 7.200000rem;
  margin: 0 auto; }

.weui-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.weui-flex__item {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1; }

.ellipsis-1 {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.container, .bt_nav .bt_nav_main .nav_li, .bt_nav .bt_nav_main .thisnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.vdmiddle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: center;
  -moz-box-align: center; }

.vdbottom {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-align: end;
  -moz-box-align: end; }

.page_box_index {
  background-image: url(../images/img3.png), url(../images/page_bg.png), url(../images/img1.jpg);
  background-position: left top, left bottom,left top;
  background-repeat: no-repeat,no-repeat,  repeat;
  background-size: 100% auto,100% auto,100% auto;
  overflow: hidden; }

.plastic_ts {
  margin-top: 6.6rem;
  margin-bottom: 1.06667rem;
  height: 1.89333rem;
  background-image: url(../images/img4.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 2.29333rem 0; }

.bt_nav {
  height: 1.24rem; }
  .bt_nav .bt_nav_main {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.24rem;
    z-index: 100;
    border-top: 1px solid #202c32;
    background: #fff; }
    .bt_nav .bt_nav_main .nav_li, .bt_nav .bt_nav_main .thisnav {
      text-align: center;
      color: #9d9d9d;
      font-size: 0.32rem;
      text-decoration: none; }
      .bt_nav .bt_nav_main .nav_li .nav_icon1, .bt_nav .bt_nav_main .thisnav .nav_icon1, .bt_nav .bt_nav_main .nav_li .nav_icon2, .bt_nav .bt_nav_main .thisnav .nav_icon2, .bt_nav .bt_nav_main .nav_li .nav_icon3, .bt_nav .bt_nav_main .thisnav .nav_icon3, .bt_nav .bt_nav_main .nav_li .nav_icon4, .bt_nav .bt_nav_main .thisnav .nav_icon4 {
        display: block;
        margin: 0 auto;
        width: 0.45333rem;
        height: 0.58667rem;
        background-image: url(../images/nav3_.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0.42667rem 0.37333rem; }
      .bt_nav .bt_nav_main .nav_li .nav_icon2, .bt_nav .bt_nav_main .thisnav .nav_icon2 {
        background-image: url(../images/nav4_.png);
        background-size: 0.42667rem 0.42667rem; }
      .bt_nav .bt_nav_main .nav_li .nav_icon3, .bt_nav .bt_nav_main .thisnav .nav_icon3 {
        background-image: url(../images/nav1_.png);
        background-size: 0.37333rem 0.41333rem; }
      .bt_nav .bt_nav_main .nav_li .nav_icon4, .bt_nav .bt_nav_main .thisnav .nav_icon4 {
        background-image: url(../images/nav2_.png);
        background-size: 0.44rem 0.38667rem; }
    .bt_nav .bt_nav_main .thisnav {
      color: #52ab80; }
      .bt_nav .bt_nav_main .thisnav .nav_icon1, .bt_nav .bt_nav_main .thisnav .nav_icon2, .bt_nav .bt_nav_main .thisnav .nav_icon3, .bt_nav .bt_nav_main .thisnav .nav_icon4 {
        background-image: url(../images/nav3.png); }
      .bt_nav .bt_nav_main .thisnav .nav_icon2 {
        background-image: url(../images/nav4.png); }
      .bt_nav .bt_nav_main .thisnav .nav_icon3 {
        background-image: url(../images/nav1.png); }
      .bt_nav .bt_nav_main .thisnav .nav_icon4 {
        background-image: url(../images/nav2.png); }

.plastic-modle {
  margin: 0 0.4rem 0.64rem; }
  .plastic-modle .modle-title {
    background-image: url(../images/img5.png);
    background-size: 0.42667rem 0.16rem;
    background-position: left bottom;
    background-repeat: no-repeat; }
    .plastic-modle .modle-title .pic-tile {
      height: 0.4rem;
      vertical-align: bottom;
      margin-left: 0.58667rem; }
  .plastic-modle .modle-main {
    margin-top: 0.24rem;
    background: rgba(255, 255, 255, 0.04);
    border-top: 0.18667rem solid #99bdbb; }
  .plastic-modle .plastic-world {
    padding: 0.46667rem 0.72rem;
    color: #fff;
    font-size: 0.32rem;
    line-height: 0.56rem; }
  .plastic-modle .plstic_star {
    margin: 0 0.4rem;
    padding: 0.46667rem 0 1rem; }
    .plastic-modle .plstic_star .star_hr {
      width: 0.66667rem; }
    .plastic-modle .plstic_star .star-icon-bg {
      width: 2.06667rem;
      height: 2.06667rem;
      background: url(../images/star-bg.png) no-repeat;
      background-size: 100%;
      overflow: hidden; }
      .plastic-modle .plstic_star .star-icon-bg .star-icon1, .plastic-modle .plstic_star .star-icon-bg .star-icon2, .plastic-modle .plstic_star .star-icon-bg .star-icon3 {
        width: 0.8rem;
        height: 0.8rem;
        background-image: url(../images/s_star1.png);
        background-size: 100%;
        margin-left: 0.4rem;
        margin-top: 0.88rem; }
      .plastic-modle .plstic_star .star-icon-bg .star-icon2 {
        background-image: url(../images/s_star2.png); }
      .plastic-modle .plstic_star .star-icon-bg .star-icon3 {
        background-image: url("../images/s_star3.png"); }
    .plastic-modle .plstic_star .star-title {
      margin-top: 0.26667rem;
      font-size: 0.48rem;
      color: #fff; }
      .plastic-modle .plstic_star .star-title span {
        color: #6ee698; }
    .plastic-modle .plstic_star .star-detail {
      margin-top: 0.26667rem;
      font-size: 0.32rem;
      color: #fff;
      line-height: 0.42667rem; }
  .plastic-modle .plstic-scope {
    margin: 0 1.70667rem;
    padding: 0.8rem 0; }
    .plastic-modle .plstic-scope .p_scope_li {
      margin-bottom: 0.25333rem; }
    .plastic-modle .plstic-scope .scope_hr {
      width: 0.12rem; }
    .plastic-modle .plstic-scope .scope-em {
      position: relative;
      height: 0.62667rem;
      text-align: center;
      line-height: 0.62667rem;
      font-size: 0.4rem;
      color: #fff; }
      .plastic-modle .plstic-scope .scope-em .scope-em-main {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #8799a3;
        border-radius: 0.31333rem; }
      .plastic-modle .plstic-scope .scope-em::before {
        position: absolute;
        left: -0.02667rem;
        bottom: -0.06667rem;
        content: '';
        height: 1.06667rem;
        width: 1.06667rem;
        background-image: url(../images/star-bg.png);
        background-size: 100%; }
  .plastic-modle .plastic_play {
    overflow: hidden; }
    .plastic-modle .plastic_play .p_play_img {
      width: 8.14667rem;
      height: 3.74667rem;
      background-image: url(../images/playimg.png);
      background-size: 100%;
      margin: 0.45333rem auto 0; }
    .plastic-modle .plastic_play .play_go {
      text-align: center;
      display: block;
      height: 0.88rem;
      line-height: 0.88rem;
      color: #fff; }
  .plastic-modle .plastic-rout {
    margin: 0 0.18667rem;
    padding-bottom: 0.82667rem; }
    .plastic-modle .plastic-rout .rout-time {
      color: #ed9509;
      padding: 0.53333rem 0.33333rem 0.32rem; }
    .plastic-modle .plastic-rout .rout-list {
      border-top: 0.026667rem solid #a9aeb0;
      border-bottom: 0.026667rem solid #a9aeb0; }
    .plastic-modle .plastic-rout .rout-li {
      border-bottom: 1px solid #a9aeb0;
      padding: 0.66667rem 0.33333rem;
      color: #fff; }
      .plastic-modle .plastic-rout .rout-li:last-child {
        border: 0; }
      .plastic-modle .plastic-rout .rout-li .rout-list-left {
        font-size: 0.26667rem;
        width: 2.22667rem;
        line-height: 0.4rem;
        padding-top: 0.13333rem; }
      .plastic-modle .plastic-rout .rout-li .rout-detail-list {
        font-size: 0.32rem; }
        .plastic-modle .plastic-rout .rout-li .rout-detail-list li {
          position: relative;
          padding-left: 0.4rem;
          line-height: 0.66667rem; }
          .plastic-modle .plastic-rout .rout-li .rout-detail-list li:last-child {
            margin-bottom: 0; }
          .plastic-modle .plastic-rout .rout-li .rout-detail-list li::before {
            position: absolute;
            content: '';
            width: 0.2rem;
            height: 0.02667rem;
            left: 0;
            top: 0.2rem;
            background: #407762; }
  .plastic-modle .plastic-contact {
    padding: 0.66667rem 0 0.66667rem 0.66667rem; }
    .plastic-modle .plastic-contact .erwei {
      height: 2.38667rem;
      width: 2.38667rem;
      margin-right: 0.46667rem;
      color: #fff; }
      .plastic-modle .plastic-contact .erwei img {
        width: 100%; }
    .plastic-modle .plastic-contact .contact_detail {
      color: #fff;
      line-height: 0.6rem; }
      .plastic-modle .plastic-contact .contact_detail a {
        color: #fff;
        text-decoration: underline; }

.left_nav {
  position: fixed;
  right: 0.06667rem;
  bottom: 1.86667rem;
  z-index: 10; }
  .left_nav .left_nab_li {
    display: block;
    width: 1.88rem;
    height: 0.62667rem;
    margin-bottom: 0.16rem; }
    .left_nav .left_nab_li:active {
      opacity: 0.8; }
    .left_nav .left_nab_li.lnav1 {
      background: url(../images/left_nav1.png);
      background-size: 100%; }
    .left_nav .left_nab_li.lnav1 {
      background: url(../images/left_nav2.png);
      background-size: 100%; }
    .left_nav .left_nab_li.lnav2 {
      background: url(../images/left_nav3.png);
      background-size: 100%; }
    .left_nav .left_nab_li.lnav3 {
      background: url(../images/left_nav4.png);
      background-size: 100%; }
    .left_nav .left_nab_li.lnav4 {
      background: url(../images/left_nav5.png);
      background-size: 100%; }
    .left_nav .left_nab_li.lnav5 {
      background: url(../images/left_nav1.png);
      background-size: 100%; }

.page-band-height {
  height: 10.6rem; }

.page_prize {
  background-image: url(../images/bdan_bg.png), url(../images/page_bg.png), url(../images/img1.jpg);
  background-position: left top,left bottom,left top;
  background-repeat: no-repeat,no-repeat,repeat;
  background-size: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }
  .page_prize .prize_sm .prize_sm_detail {
    color: #fff;
    font-size: 0.22667rem;
    line-height: 0.41333rem;
    padding: 0.66667rem 0.77333rem 1.04rem; }
    .page_prize .prize_sm .prize_sm_detail p {
      text-indent: 2em; }
  .page_prize .pz_hr {
    height: 0.61333rem; }
  .page_prize .prize-main {
    background: #fff;
    margin: 0 0.24rem; }
    .page_prize .prize-main .ranking_select {
      margin: 0.53333rem 0.50667rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .page_prize .prize-main .ranking_select .ranking_ipt {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        border: 1px solid #eee;
        height: 1.06667rem;
        padding: 0 0.13333rem;
        line-height: 1.06667rem;
        margin-right: 0.2rem; }
      .page_prize .prize-main .ranking_select .ranking_btn {
        border: 0;
        background: #ef782f;
        height: 1.06667rem;
        width: 2.4rem;
        color: #fff;
        border-radius: 0.10667rem; }
        .page_prize .prize-main .ranking_select .ranking_btn:active {
          opacity: 0.8; }
    .page_prize .prize-main .prize-title {
      text-align: center;
      padding: 0.32rem 0; }
      .page_prize .prize-main .prize-title img {
        height: 0.53333rem; }
    .page_prize .prize-main .sub-title {
      text-align: center;
      margin-top: 0.46667rem;
      position: relative;
      z-index: 2; }
      .page_prize .prize-main .sub-title img {
        width: 2.4rem; }
    .page_prize .prize-main .prize-info {
      margin-top: 0.96rem; }
    .page_prize .prize-main .prize-sug {
      margin: 0 0.50667rem; }
      .page_prize .prize-main .prize-sug .sug_box {
        position: relative;
        height: 4rem;
        border-radius: 0.10667rem;
        border: 1px solid #c1c1c1; }
      .page_prize .prize-main .prize-sug .sug_hr {
        width: 0.21333rem; }
      .page_prize .prize-main .prize-sug .sub-jbei {
        position: absolute;
        background: url(../images/p_jbei.png);
        background-size: 100%;
        margin-left: -0.74667rem;
        width: 1.49333rem;
        height: 1.68rem;
        left: 50%;
        top: -0.66667rem; }
      .page_prize .prize-main .prize-sug .sub-em {
        text-align: center;
        font-size: 0.29333rem;
        line-height: 0.4rem;
        margin-top: 0.32rem; }
      .page_prize .prize-main .prize-sug .sub-gd {
        text-align: center;
        color: #58ae84;
        font-size: 0.30667rem;
        margin-top: 0.10667rem;
        line-height: 0.37333rem; }
      .page_prize .prize-main .prize-sug .sub-number {
        text-align: center;
        font-size: 0.26667rem;
        margin-top: 0.46667rem; }
    .page_prize .prize-main .pz_firm_title {
      text-align: center; }
      .page_prize .prize-main .pz_firm_title img {
        width: 2.81333rem; }
    .page_prize .prize-main .pz_firm_list {
      margin: 0 0.50667rem; }
    .page_prize .prize-main .pz_firm_md {
      padding: 0.2rem 0; }
    .page_prize .prize-main .pz_firm_li {
      display: block;
      width: 4.10667rem;
      border: 1px solid #c1c1c1;
      border-radius: 0.10667rem;
      padding: 0 0.32rem 0.34667rem;
      margin-top: 0.4rem; }
      .page_prize .prize-main .pz_firm_li:nth-child(odd) {
        float: left; }
      .page_prize .prize-main .pz_firm_li:nth-child(even) {
        float: right; }
      .page_prize .prize-main .pz_firm_li .firm_name {
        font-size: 0.32rem;
        margin-top: 0.16rem;
        line-height: 1.2; }
    .page_prize .prize-main .fm_top {
      position: relative; }
    .page_prize .prize-main .ranking_num {
      position: absolute;
      left: 0;
      top: 0;
      height: 0.64rem;
      width: 0.97333rem;
      background-size: 100%; }
      .page_prize .prize-main .ranking_num.ranking_num1 {
        background-image: url(../images/one.png); }
      .page_prize .prize-main .ranking_num.ranking_num2 {
        background-image: url(../images/two.png); }
      .page_prize .prize-main .ranking_num.ranking_num3 {
        background-image: url(../images/three.png); }
    .page_prize .prize-main .fm_number {
      font-size: 0.29333rem;
      height: 0.8rem; }
    .page_prize .prize-main .fm_go {
      font-size: 0.29333rem;
      color: #eb640d; }
    .page_prize .prize-main .firm_pic {
      height: 1.6rem;
      border-radius: 0.10667rem;
      overflow: hidden; }
      .page_prize .prize-main .firm_pic img {
        width: 100%;
        height: 100%; }
    .page_prize .prize-main .pz_step {
      border: 1px solid #c1c1c1;
      margin: 0 0.50667rem;
      padding: 0.24rem 0.32rem;
      margin-top: 0.93333rem; }
      .page_prize .prize-main .pz_step .sp_title img {
        width: 3rem;
        height: 0.82667rem;
        vertical-align: bottom; }
      .page_prize .prize-main .pz_step .sp_time {
        text-align: right;
        overflow: hidden;
        height: 0.82667rem;
        line-height: 1.06667rem;
        color: #eb640d; }
      .page_prize .prize-main .pz_step .step_detail {
        font-size: 0.32rem;
        line-height: 0.48rem;
        padding: 0.21333rem 0; }
        .page_prize .prize-main .pz_step .step_detail p {
          text-indent: 1em; }
    .page_prize .prize-main .go-sign-in {
      padding: 1.8rem 0;
      text-align: center; }
      .page_prize .prize-main .go-sign-in .sign-btn {
        display: block;
        background: #eb640d;
        margin: 0 0.50667rem;
        font-size: 0.4rem;
        color: #fff;
        border-radius: 0.16rem;
        height: 0.98667rem;
        line-height: 0.98667rem; }
        .page_prize .prize-main .go-sign-in .sign-btn:active {
          opacity: 0.8; }
    .page_prize .prize-main .sign-up-modle {
      margin: 0 0.50667rem;
      padding-top: 0.66667rem; }
      .page_prize .prize-main .sign-up-modle .sg_modle-title img {
        height: 0.82667rem; }
      .page_prize .prize-main .sign-up-modle .sign-must-can {
        padding: 0.46667rem 0.72rem 0.06667rem;
        line-height: 0.72rem;
        font-size: 0.24rem; }
      .page_prize .prize-main .sign-up-modle .sign-from .sign-li {
        margin-top: 0.38667rem;
        border: 1px solid #d6d6d6;
        border-radius: 0.4rem; }
      .page_prize .prize-main .sign-up-modle .sign-from .sign-name {
        width: 1.8rem;
        height: 0.85333rem;
        line-height: 0.85333rem;
        font-size: 0.24rem;
        padding-left: 0.44rem; }
        .page_prize .prize-main .sign-up-modle .sign-from .sign-name span {
          color: #e62222; }
      .page_prize .prize-main .sign-up-modle .sign-from .sign-iptbox input {
        height: 100%;
        width: 100%;
        line-height: 0.85333rem;
        background: transparent;
        border: 0;
        padding-left: 0.13333rem; }
      .page_prize .prize-main .sign-up-modle .sign-from .sign-from-label {
        margin-top: 0.62667rem;
        font-size: 0.29333rem; }
        .page_prize .prize-main .sign-up-modle .sign-from .sign-from-label span {
          font-weight: bold; }
        .page_prize .prize-main .sign-up-modle .sign-from .sign-from-label input[type="checkbox"] {
          margin: 0 0.16rem;
          vertical-align: top;
          position: relative;
          top: -0.02667rem; }
      .page_prize .prize-main .sign-up-modle .sign-from .text-detail {
        margin-top: 0.53333rem; }
        .page_prize .prize-main .sign-up-modle .sign-from .text-detail textarea {
          height: 2.2rem;
          border: 1px solid #c1c1c1;
          width: 100%;
          padding: 0.2rem; }
      .page_prize .prize-main .sign-up-modle .add_img_box .add_i_left {
        margin: 0 0.53333rem 0 0.8rem;
        padding-top: 0.44rem;
        font-size: 0.26667rem; }
        .page_prize .prize-main .sign-up-modle .add_img_box .add_i_left span {
          color: #e62222; }
      .page_prize .prize-main .sign-up-modle .add_img_box .add_i_right {
        margin-left: 1.33333rem;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-align: end;
        -moz-box-align: end;
        font-size: 0.21333rem;
        line-height: 0.29333rem; }
      .page_prize .prize-main .sign-up-modle .add_img_box .add_i_cnt {
        width: 1.96rem;
        height: 1.77333rem;
        background-image: url(../images/add_i_btn.png);
        background-size: 100%; }
  .page_prize .bt_bquan {
    height: 2.02667rem;
    text-align: center;
    line-height: 1.2rem;
    color: #fff;
    font-size: 0.32rem; }

.histy_show {
  padding: 1.06667rem 0 1.33333rem; }

.histy_show_main .zz-fuwu-tpbox {
  height: 3.8rem;
  width: 100%; }

.zz-tpbox-mian {
  width: 7.49333rem;
  height: 3.8rem; }
  .zz-tpbox-mian img {
    width: 100%; }

.djsbox {
  height: 1.81333rem;
  text-align: center;
  font-size: 0.42667rem;
  color: #fff;
  line-height: 1.81333rem; }
  .djsbox span {
    display: inline-block;
    font-size: 0.81333rem;
    vertical-align: top;
    line-height: 0.81333rem;
    padding-top: 0.4rem; }
  .djsbox span:first-child {
    padding-left: 0.26667rem; }

.coptpbox {
  margin: 0 0.86667rem 0.66667rem;
  padding-bottom: 1.70667rem; }
  .coptpbox .coptp_name {
    font-size: 0.32rem;
    padding: 0.69333rem 0 0.18667rem; }
    .coptpbox .coptp_name .coptp_jx img {
      width: 0.90667rem;
      float: left;
      margin-left: -0.29333rem; }
    .coptpbox .coptp_name .coptp_jx p {
      float: left;
      line-height: 0.48rem;
      padding-top: 0.10667rem;
      padding-left: 0.2rem; }
    .coptpbox .coptp_name .coptp_jx span {
      color: #25b181;
      font-weight: bold; }
    .coptpbox .coptp_name .coptp_copname {
      text-align: right;
      padding-top: 0.13333rem;
      font-size: 0.32rem;
      width: 2.4rem;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      line-height: 0.48rem; }
  .coptpbox .coptp_img {
    width: 7.8rem;
    border-radius: 0.06667rem;
    border: 0.01333rem solid #ccc; }
  .coptpbox .coptop_numbox {
    text-align: right;
    font-size: 0.4rem;
    color: #cb1b16;
    font-weight: bold;
    padding: 0.24rem 0 0.53333rem; }
    .coptpbox .coptop_numbox p:first-child {
      text-align: left;
      color: #333333; }
  .coptpbox .coptp_main {
    margin-top: 0.48rem; }
    .coptpbox .coptp_main .coptp_maintle {
      width: 3.01333rem;
      height: 0.82667rem;
      background: url(../images/img2.png) no-repeat;
      background-size: 100% 100%;
      text-align: right;
      line-height: 1.04rem;
      color: #fff;
      padding-right: 0.62667rem;
      font-size: 0.32rem; }
    .coptpbox .coptp_main p {
      font-size: 0.21333rem;
      color: #221815;
      line-height: 0.37333rem;
      text-indent: 2em;
      padding-top: 0.2rem; }
  .coptpbox .coptp_btnbox {
    padding: 1.2rem 0 0.6rem; }
    .coptpbox .coptp_btnbox .coptp_btn {
      width: 3.72rem;
      height: 0.98667rem;
      text-align: center;
      line-height: 0.98667rem;
      font-size: 0.4rem;
      color: #fff;
      border-radius: 0.2rem; }
    .coptpbox .coptp_btnbox .coptp_btn1 {
      margin-right: 0.18667rem;
      background: #ff5800; }
    .coptpbox .coptp_btnbox .coptp_btn2 {
      margin-left: 0.18667rem;
      background: #12ae7e; }

.firm_btnbox {
  padding-top: 0.4rem; }
  .firm_btnbox p {
    font-size: 0.34667rem; }
  .firm_btnbox .firm_btn {
    width: 1.54667rem;
    height: 0.4rem;
    background: #ff5a01;
    border-radius: 0.2rem;
    font-size: 0.26667rem;
    text-align: center;
    color: #fff;
    line-height: 0.42667rem;
    font-weight: bold; }

.page_zs {
  background-image: url(../images/zs_page.png), url(../images/page_bg.png), url(../images/img1.jpg);
  background-position: left top,left bottom,left top;
  background-repeat: no-repeat,no-repeat,repeat;
  background-size: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden; }
  .page_zs .zs_nav {
    margin: 0 0.66667rem;
    padding-top: 0.53333rem; }
    .page_zs .zs_nav .zs_nav_li {
      margin-bottom: 0.4rem;
      height: 1.33333rem;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 0.26667rem; }
      .page_zs .zs_nav .zs_nav_li:active {
        background: #488d68; }
      .page_zs .zs_nav .zs_nav_li .zs_icon_box {
        width: 1.50667rem;
        color: #fff;
        font-size: 0.45333rem; }
        .page_zs .zs_nav .zs_nav_li .zs_icon_box img {
          height: 0.42667rem; }
      .page_zs .zs_nav .zs_nav_li .zs_nav_name {
        color: #fff;
        font-size: 0.50667rem; }
      .page_zs .zs_nav .zs_nav_li .zs_right_go {
        position: relative;
        width: 0.93333rem; }
        .page_zs .zs_nav .zs_nav_li .zs_right_go .right_icon {
          position: absolute;
          left: 0;
          top: 50%;
          width: 0.24rem;
          height: 0.24rem;
          margin-top: -0.12rem;
          border-top: 0.026667rem solid #fff;
          border-right: 0.026667rem solid #fff;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }

.zs-detail-ct {
  margin: 0.66667rem 0.4rem;
  border-radius: 0.2rem;
  padding: 0.93333rem 0;
  background: #fff; }
  .zs-detail-ct .dtl-top {
    margin: 0 0.44rem 0 0.86667rem; }
  .zs-detail-ct .pgname {
    font-size: 0.50667rem;
    color: #6cb793;
    position: relative; }
    .zs-detail-ct .pgname::before {
      content: '';
      position: absolute;
      height: 0.18667rem;
      width: 0.49333rem;
      left: 0;
      top: 0rem;
      background: url(../images/img5.png);
      background-size: 100%; }
  .zs-detail-ct .price_mey {
    margin-right: 0.4rem; }
    .zs-detail-ct .price_mey span {
      font-size: 0.8rem; }
  .zs-detail-ct .lastnum span {
    display: inline-block;
    position: relative;
    top: -0.04rem; }
  .zs-detail-ct .dtl-wrd {
    margin: 1.06667rem 0.44rem 0 0.86667rem;
    position: relative; }
    .zs-detail-ct .dtl-wrd::before {
      content: '';
      position: absolute;
      height: 0.18667rem;
      width: 0.49333rem;
      left: 0;
      top: -0.13333rem;
      background: url(../images/img5.png);
      background-size: 100%; }
    .zs-detail-ct .dtl-wrd .wrd-li {
      position: relative;
      padding-left: 0.44rem;
      line-height: 0.8rem; }
    .zs-detail-ct .dtl-wrd .dfmnum {
      position: absolute;
      left: 0; }
  .zs-detail-ct .dtl-imglist {
    margin: 0.56rem 0.86667rem 0; }
    .zs-detail-ct .dtl-imglist img {
      width: 100%;
      margin-bottom: 0.26667rem; }

.page-header {
  height: 1.30667rem; }
  .page-header .header-main {
    height: 1.30667rem;
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10; }
  .page-header .header-left, .page-header .header-right {
    width: 1.30667rem;
    position: relative; }
  .page-header .header-content {
    font-size: 0.45333rem; }
  .page-header .block_icon {
    height: 0.26667rem;
    width: 0.26667rem;
    border-bottom: 0.026667rem solid #333;
    border-left: 0.026667rem solid #333;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .page-header .bm_btn {
    height: 0.58667rem;
    width: 1.6rem;
    display: block;
    text-align: center;
    line-height: 0.58667rem;
    background: #e9ad41;
    color: #fff;
    border-radius: 0.13333rem;
    right: 0.37333rem;
    position: absolute; }

.bmform {
  background: #fff; }
  .bmform .bmtitle {
    text-align: center;
    padding: 0.73333rem 0 1.13333rem;
    position: relative; }
    .bmform .bmtitle::after {
      width: 0.42667rem;
      height: 0.16rem;
      background-image: url(../images/img5.png);
      background-size: 0.42667rem 0.16rem;
      background-position: left bottom;
      background-repeat: no-repeat;
      position: absolute;
      content: '';
      left: 50%;
      margin-left: -0.21333rem;
      bottom: 0.66667rem; }
    .bmform .bmtitle .ttimg {
      width: 2.76rem; }
  .bmform .bmli {
    padding: 0 0.93333rem 0 0.62667rem; }
    .bmform .bmli .sticon {
      font-size: 0.42667rem;
      color: #ba1414;
      line-height: 1.33333rem; }
    .bmform .bmli .bmnr {
      width: 8.13333rem;
      line-height: 1.33333rem;
      border-bottom: 0.02667rem solid #b2b2b2; }
      .bmform .bmli .bmnr a {
        font-size: 0.32rem;
        text-align: right; }
      .bmform .bmli .bmnr .bmname {
        width: 1.77333rem;
        font-size: 0.42667rem;
        color: #000; }
      .bmform .bmli .bmnr .bmnr_input {
        font-size: 0.4rem;
        text-align: right;
        border: 0; }
      .bmform .bmli .bmnr .bm_checkbox {
        font-size: 0.37333rem;
        color: #000000;
        padding-right: 1.2rem; }
        .bmform .bmli .bmnr .bm_checkbox .bmnr_check {
          width: 0.4rem;
          height: 0.4rem;
          position: relative;
          background: #ffffff;
          border: solid 0.04rem #000;
          display: table;
          -webkit-appearance: none;
          -webkit-transition: background-color ease 0.1s;
          -o-transition: background-color ease 0.1s;
          transition: background-color ease 0.1s;
          border-radius: 0;
          margin-right: 0.16rem;
          margin-left: 1rem; }
        .bmform .bmli .bmnr .bm_checkbox .bmnr_check:checked:before, .bmform .bmli .bmnr .bm_checkbox .bmnr_check:checked:after {
          position: absolute;
          left: 0.04rem;
          top: 0.04rem;
          width: 0.26667rem;
          height: 0.26667rem;
          background: #ba1414;
          display: table;
          content: ""; }
      .bmform .bmli .bmnr .bm_checkts img {
        height: 0.34667rem;
        margin-top: 0.46667rem;
        margin-left: 0.26667rem; }
      .bmform .bmli .bmnr .bm_pricemain {
        font-size: 0.4rem; }
        .bmform .bmli .bmnr .bm_pricemain .bm_pricenum {
          padding-top: 0.21333rem;
          padding-left: 0.4rem; }
          .bmform .bmli .bmnr .bm_pricemain .bm_pricenum input {
            display: inline-block;
            float: left;
            height: 0.53333rem;
            line-height: 0.53333rem;
            border-color: #000;
            border-width: 0.01333rem;
            width: 0.53333rem;
            background: transparent; }
          .bmform .bmli .bmnr .bm_pricemain .bm_pricenum .text_box {
            width: 0.66667rem;
            text-align: center;
            border-left: 0;
            border-radius: 0;
            border-right: 0; }
          .bmform .bmli .bmnr .bm_pricemain .bm_pricenum .min {
            border-radius: 0.06667rem 0 0 0.06667rem; }
          .bmform .bmli .bmnr .bm_pricemain .bm_pricenum .add {
            border-radius: 0 0.06667rem 0.06667rem 0; }
  .bmform .bmtextbox .bmnr {
    border: 0; }
  .bmform .bmtextbox .bmnr_text {
    width: 8.13333rem;
    font-size: 0.4rem;
    padding: 0.30667rem 0 0 0.30667rem;
    font-family: "微软雅黑"; }
  .bmform .bm_pricebox {
    padding-top: 0.2rem; }
    .bmform .bm_pricebox .bmnr {
      border: 0;
      width: 100%;
      line-height: 0.93333rem; }
    .bmform .bm_pricebox .bmnr_check {
      margin-left: 0.53333rem !important; }

.bmbox {
  background-image: url(../images/page_bg.png), url(../images/img1.jpg);
  background-position: left bottom,left top;
  background-repeat: no-repeat,  repeat;
  background-size: 100% auto,100% auto,100% auto;
  overflow: hidden;
  min-height: 100%; }
  .bmbox .bmband {
    width: 100%; }

.zfbtn_box {
  background: #fff;
  padding: 1rem 0 0.66667rem;
  margin-bottom: 1.28rem; }
  .zfbtn_box .zfbtn {
    font-size: 0.48rem;
    color: #fff;
    text-align: center;
    width: 3.04rem;
    height: 3.04rem;
    border-radius: 50%;
    background: #409b6f;
    display: block;
    line-height: 3.04rem;
    margin: 0 auto; }
    .zfbtn_box .zfbtn:active {
      opacity: 0.8; }

.zhifu {
  background: #fff;
  font-size: 0.4rem;
  color: #000000;
  padding: 0.66667rem 0.93333rem 0;
  line-height: 1rem;
  padding-bottom: 0.01333rem; }
  .zhifu .zhifu_tle {
    font-size: 0.42667rem; }
  .zhifu .zhifu_con {
    border-top: 0.02667rem solid #000;
    border-bottom: 0.02667rem solid #000;
    padding: 0.2rem 0 0.2rem 0.4rem; }
    .zhifu .zhifu_con .zhifu_name {
      width: 2.30667rem; }
  .zhifu .zfbtn {
    margin-top: 0.4rem; }

.right_poit {
  position: fixed;
  right: 0;
  bottom: 40%;
  z-index: 10; }
  .right_poit .rp_go {
    display: block;
    height: 0.85333rem;
    width: 4.32rem;
    margin-bottom: 0.13333rem;
    background-size: 100%; }
    .right_poit .rp_go.rp_go1 {
      background-image: url(../images/ltnav1.png); }
    .right_poit .rp_go.rp_go2 {
      background-image: url(../images/ltnav2.png); }
    .right_poit .rp_go.rp_go3 {
      background-image: url(../images/ltnav3.png); }
    .right_poit .rp_go.rp_go4 {
      background-image: url(../images/ltnav4.png); }
    .right_poit .rp_go.rp_go_1 {
      background-image: url(../images/ltnav_1.png); }
    .right_poit .rp_go.rp_go_2 {
      background-image: url(../images/ltnav_2.png); }
    .right_poit .rp_go.rp_go_3 {
      background-image: url(../images/ltnav_3.png); }
    .right_poit .rp_go.rp_go_4 {
      background-image: url(../images/ltnav_4.png); }