section.swiper-slide.page9(data-hash="slide9")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = ['page9_bg.png','pImg9_2.png','pImg9_1.png','pImg9_3.png']
      each item in imglist
        img(src="#{webtop}images/#{item}")
    img.page_bg(src='#{webtop}/images/page9_bg.png')
    .slide-main_box
      .page-up.ptabsolet
      .pimg_box9_1.ani.ptabsolet(swiper-animate-effect="fadeIn",swiper-animate-duration="0.5s",swiper-animate-delay="0.5s") 钱都花去哪儿了
      .pimg_box9_2.ani.ptabsolet(swiper-animate-effect="fadeIn",swiper-animate-duration="0.5s",swiper-animate-delay="0.5s") 你不看看吗？
      .pimg_box9_4.ptabsolet 
      .pimg_box9_3.ani.ptabsolet(swiper-animate-effect="fadeIn",swiper-animate-duration="0.5s",swiper-animate-delay="0s") 
      .pimg_box9_5.ptabsolet
      .pimg_box9_6.ptabsolet 
        .boxinfo.ani(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".5s") 再生钱包共消费
        .pay_all.ani(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".6s") 70,940.0元
        ul.pay_list
          li.pay_li.ani.clear(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".7s")
            div.fl 查看联系方式
            div.fr ¥1138.0
          li.pay_li.ani.clear(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".8s")
            div.fl 显示联系方式
            div.fr ¥1138.0
          li.pay_li.ani.clear(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".9s")
            div.fl 供求自动刷新
            div.fr ¥1138.0
          li.pay_li.ani.clear(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay="1s")
            div.fl 优客宝消费
            div.fr ¥1138.0
          li.pay_li.ani.clear(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay="1.1s")
            div.fl 其他消费
            div.fr ¥1138.0


