section.swiper-slide.page14(data-hash="slide14")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = ['page14_bg.png','pImg14_2.png','pImg14_1.png']
      each item in imglist
        img(src="#{webtop}images/#{item}")
    img.page_bg(src='#{webtop}/images/page14_bg.png')
    .slide-main_box
      .pimg_box14_1.ani.ptabsolet 还没有账单哦~
      .pimg_box14_2.ani.ptabsolet.
        我们错过了你的2018<br>
        <span>2019，愿我们一起携手并进</span>
      .pimg_box14_3.ani.ptabsolet
      a(href="//m.zz91.com/").pimg_box14_4.ani.ptabsolet
      