section.swiper-slide.page6(data-hash="slide6")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = ['page6_bg.png','pImg6_1.png','pImg6_2.png','pImg6_3.png','pImg6_4.png','pImg6_5.png','pImg6_1_03.png','pImg6_1_07.png']
      each item in imglist
        img(src="#{webtop}images/#{item}")
    img.page_bg(src='#{webtop}/images/page6_bg.png')
    .slide-main_box
      .page-up.ptabsolet
      .pimg_box3_1.ani.ptabsolet(swiper-animate-effect="fadeIn",swiper-animate-duration="0.5s",swiper-animate-delay="0s")
        .pimg3_text_1.ani(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".5s").
          这一年你共签到<span>200</span>次
        .pimg3_text_2.ani(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".6s").
          获得了<span>100</span>元再生钱包奖励
        .pimg3_text_3.ani(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".7s").
          你的坚持，是一种习惯！
        .pimg3_text_4.ani(swiper-animate-effect="fadeInRight",swiper-animate-duration="0.8s",swiper-animate-delay=".8s").
          我的奖励，是一份心意！
      .pimg_box6_1.ptabsolet
      .pimg_box6_3.ptabsolet
      .pimg_box6_4.ptabsolet
      .pimg_box6_5.ptabsolet
      .pimg_box6_2.ptabsolet

      .pimg_box6_6.ptabsolet
      .pimg_box6_7.ptabsolet
      .pimg_box6_8.ptabsolet
      .pimg_box6_9.ptabsolet
      