section.swiper-slide.page10(data-hash="slide10")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = ['page10_bg.png','pImg10_2.png','pImg10_3.png','pImg10_4.png','pImg10_5.png',]
      each item in imglist
        img(src="#{webtop}images/#{item}")
    img.page_bg(src='#{webtop}/images/page10_bg.png')
    .slide-main_box
      .page-up.ptabsolet
      .pimg_box10_1.ani.ptabsolet(swiper-animate-effect="fadeIn",swiper-animate-duration="0.5s",swiper-animate-delay="0.5s") 一分钱也没花，太省了！
      .pimg_box10_5.ani.ptabsolet(swiper-animate-effect="fadeIn",swiper-animate-duration="0.5s",swiper-animate-delay="0.5s")
      .pimg_box10_2.ptabsolet
        .ani(swiper-animate-effect="fadeInDown",swiper-animate-duration="0.5s",swiper-animate-delay="0.7s") 再生钱包共消费
        .pay_all_zs.ani(swiper-animate-effect="fadeInDown",swiper-animate-duration="0.5s",swiper-animate-delay="0.6s") 0元
        .mdst.ani(swiper-animate-effect="fadeInDown",swiper-animate-duration="0.5s",swiper-animate-delay="0.5s")
          .mdst_li 我很大方
          .mdst_li 送你20元再生钱包
          .mdst_li 体验一下吧！
      
      //- .pimg_box10_3.ani.ptabsolet
      .pimg_box10_4.ani.ptabsolet(style="z-index:10")
      
      .pimg_box10_6.ani.ptabsolet(style="z-index:11")
      .pimg_box10_7.ani.ptabsolet(style="z-index:11")
      .pimg_box10_8.ani.ptabsolet(style="z-index:11")
      .pimg_box10_9.ani.ptabsolet(style="z-index:9")
      .pimg_box10_10.ani.ptabsolet(style="z-index:9")
      .pimg_box10_11.ani.ptabsolet(style="z-index:9")
      


