.bt_nav
    .bt_nav_main.zz-flexbox
      if(navindex==0)
        a.zz-flexbox-item.nav_li.thisnav(href="index.html")
          .nav_li_c
            i.nav_icon1
            div 首页
      else
        a.zz-flexbox-item.nav_li(href="index.html")
          .nav_li_c
            i.nav_icon1
            div 首页
      
      if(navindex==1)
        a.zz-flexbox-item.nav_li.thisnav(href="zs_index.html")
          .nav_li_c
            i.nav_icon2
            div 展会招商
      else
        a.zz-flexbox-item.nav_li(href="zs_index.html")
          .nav_li_c
            i.nav_icon2
            div 展会招商

      if(navindex==2)
        a.zz-flexbox-item.nav_li.thisnav(href="zn_index.html")
          .nav_li_c
            i.nav_icon3
            div 展商服务
      else
        a.zz-flexbox-item.nav_li(href="zn_index.html")
          .nav_li_c
            i.nav_icon3
            div 展商服务

      if(navindex==3)
        a.zz-flexbox-item.nav_li.thisnav(href="baoming.html")  
          .nav_li_c
            i.nav_icon4
            div 参展申请
      else
        a.zz-flexbox-item.nav_li(href="baoming.html")
          .nav_li_c
            i.nav_icon4
            div 参展申请
