extends component-box

block css
    link(rel="stylesheet",type="text/css", href="#{webtop}css/swiperlist.css")

block content
    div.title
        .addbtn 添加
        //- 91再生·第10届再生塑料展览会交流晚宴 <br>供求商机  
    
    .list_lh
        ul.silde-ul
            //- li.slide-li
            //-     .slide-box
            //-         .silde-itme
            //-             .item-header
            //-                 img.logo(src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png")
            //-                 .seat.fl.center 30桌
            //-             .item-context
            //-                 table.info-center
            //-                     tr
            //-                         td 
            //-                             .dt-title 公司名称
            //-                         td 长兴吉兴塑业有限公司
            //-                     tr
            //-                         td 
            //-                             .dt-title 联 系 人
            //-                         td 郭继民
            //-                     tr
            //-                         td 
            //-                             .dt-title 手 机 号
            //-                         td 仅限91再生高会查看
            //-                     tr
            //-                         td 
            //-                             .dt-title 地 址
            //-                         td 江西南昌青山湖区东升大道一号
            //-                     tr
            //-                         td 
            //-                             .dt-title 供求详情
            //-                         td.gqtd  
            //-                             .gq-detail pe废膜压包出售
            //-     .slide-box
            //-         .silde-itme
            //-             .item-header
            //-                 img.logo(src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png")
            //-                 .seat.fl.center 30桌
            //-             .item-context
            //-                 table.info-center
            //-                     tr
            //-                         td 
            //-                             .dt-title 公司名称
            //-                         td 长兴吉兴塑业有限公司
            //-                     tr
            //-                         td 
            //-                             .dt-title 联 系 人
            //-                         td 郭继民
            //-                     tr
            //-                         td 
            //-                             .dt-title 手 机 号
            //-                         td 仅限91再生高会查看
            //-                     tr
            //-                         td 
            //-                             .dt-title 地 址
            //-                         td 江西南昌青山湖区东升大道一号
            //-                     tr
            //-                         td 
            //-                             .dt-title 主营业务
            //-                         td.gqtd  
            //-                             .gq-detail pe废膜压包出售
            //-     .slide-box
            //-         .silde-itme
            //-             .item-header
            //-                 img.logo(src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png")
            //-                 .seat.fl.center 30桌

            //-             .item-context
            //-                 table.info-center
            //-                     tr
            //-                         td 
            //-                             .dt-title 公司名称
            //-                         td 长兴吉兴塑业有限公司
            //-                     tr
            //-                         td 
            //-                             .dt-title 联 系 人
            //-                         td 郭继民
            //-                     tr
            //-                         td 
            //-                             .dt-title 手 机 号
            //-                         td 仅限91再生高会查看
            //-                     tr
            //-                         td 
            //-                             .dt-title 地 址
            //-                         td 江西南昌青山湖区东升大道一号
            //-                     tr
            //-                         td 
            //-                             .dt-title 主营业务
            //-                         td.gqtd  
            //-                             .gq-detail pe废膜压包出售
            //- li.slide-li
            //-     .slide-box
            //-         .silde-itme
            //-             .item-header
            //-                 img.logo(src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png")
            //-                 .seat.fl.center 31桌
            //-             .item-context
            //-                 table.info-center
            //-                     tr
            //-                         td 
            //-                             .dt-title 公司名称
            //-                         td 长兴吉兴塑业有限公司
            //-                     tr
            //-                         td 
            //-                             .dt-title 联 系 人
            //-                         td 郭继民
            //-                     tr
            //-                         td 
            //-                             .dt-title 手 机 号
            //-                         td 仅限91再生高会查看
            //-                     tr
            //-                         td 
            //-                             .dt-title 地 址
            //-                         td 江西南昌青山湖区东升大道一号
            //-                     tr
            //-                         td 
            //-                             .dt-title 主营业务
            //-                         td.gqtd  
            //-                             .gq-detail pe废膜压包出售
            //-     .slide-box
            //-         .silde-itme
            //-             .item-header
            //-                 img.logo(src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png")
            //-                 .seat.fl.center 31桌
            //-             .item-context
            //-                 table.info-center
            //-                     tr
            //-                         td 
            //-                             .dt-title 公司名称
            //-                         td 长兴吉兴塑业有限公司
            //-                     tr
            //-                         td 
            //-                             .dt-title 联 系 人
            //-                         td 郭继民
            //-                     tr
            //-                         td 
            //-                             .dt-title 手 机 号
            //-                         td 仅限91再生高会查看
            //-                     tr
            //-                         td 
            //-                             .dt-title 地 址
            //-                         td 江西南昌青山湖区东升大道一号
            //-                     tr
            //-                         td 
            //-                             .dt-title 主营业务
            //-                         td.gqtd  
            //-                             .gq-detail pe废膜压包出售
            //-     .slide-box
            //-         .silde-itme
            //-             .item-header
            //-                 .seat.fl 31桌
            //-                 .gms_time.fr 发布于2019-10-11 10:10:10
            //-             .item-context
            //-                 table.info-center
            //-                     tr
            //-                         td 
            //-                             .dt-title 公司名称
            //-                         td 长兴吉兴塑业有限公司
            //-                     tr
            //-                         td 
            //-                             .dt-title 联 系 人
            //-                         td 郭继民
            //-                     tr
            //-                         td 
            //-                             .dt-title 手 机 号
            //-                         td 仅限91再生高会查看
            //-                     tr
            //-                         td 
            //-                             .dt-title 地 址
            //-                         td 江西南昌青山湖区东升大道一号
            //-                     tr
            //-                         td 
            //-                             .dt-title 主营业务
            //-                         td.gqtd  
            //-                             .gq-detail pe废膜压包出售
                  
            
        
            

block script
    script(src="//img0.zz91.com/subject/metal2017/js/laytpl.js")
    script(src="./js/scroll.js")
    script. 
        var rowHeight = $('.slide-li').height()
        $("div.list_lh").myScroll({
            speed:40, //数值越大，速度越慢
            rowHeight:rowHeight //li的高度
        });
        $('.addbtn').on("click",function(){
            var ul =  $(".silde-ul");
            var lastLi =  $(".silde-ul .slide-li");
            var LiChildLength = ul.find('.slide-box').length;
            console.log(LiChildLength)
            var textHtml = ''
            if(!(LiChildLength%3)){
                textHtml = `<li class="slide-li">
                                <div class="slide-box">
                                    <div class="silde-itme">
                                    <div class="item-header"><img src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png" class="logo">
                                        <div class="seat fl center">32桌</div>
                                    </div>
                                    <div class="item-context">
                                        <table class="info-center">
                                        <tr>
                                            <td> 
                                            <div class="dt-title">公司名称</div>
                                            </td>
                                            <td>长兴吉兴塑业有限公司</td>
                                        </tr>
                                        <tr>
                                            <td> 
                                            <div class="dt-title">联 系 人</div>
                                            </td>
                                            <td>郭继民</td>
                                        </tr>
                                        <tr>
                                            <td> 
                                            <div class="dt-title">手 机 号</div>
                                            </td>
                                            <td>仅限91再生高会查看</td>
                                        </tr>
                                        <tr>
                                            <td> 
                                            <div class="dt-title">地 址</div>
                                            </td>
                                            <td>江西南昌青山湖区东升大道一号</td>
                                        </tr>
                                        <tr>
                                            <td> 
                                            <div class="dt-title">供求详情</div>
                                            </td>
                                            <td class="gqtd"> 
                                            <div class="gq-detail">pe废膜压包出售</div>
                                            </td>
                                        </tr>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                                </li>`
                ul.append(textHtml)
            }else{
                for(let i=0;i<lastLi.length;i++ ){
                    let childLeng = $(lastLi[i]).find('.slide-box').length;
                    if(childLeng<3){
                        textHtml = `<div class="slide-box">
                            <div class="silde-itme">
                            <div class="item-header"><img src="http://m.zz91.com/zt/2019taizhouH5/images/logo_91.png" class="logo">
                                <div class="seat fl center">32桌</div>
                            </div>
                            <div class="item-context">
                                <table class="info-center">
                                <tr>
                                    <td> 
                                    <div class="dt-title">公司名称</div>
                                    </td>
                                    <td>长兴吉兴塑业有限公司</td>
                                </tr>
                                <tr>
                                    <td> 
                                    <div class="dt-title">联 系 人</div>
                                    </td>
                                    <td>郭继民</td>
                                </tr>
                                <tr>
                                    <td> 
                                    <div class="dt-title">手 机 号</div>
                                    </td>
                                    <td>仅限91再生高会查看</td>
                                </tr>
                                <tr>
                                    <td> 
                                    <div class="dt-title">地 址</div>
                                    </td>
                                    <td>江西南昌青山湖区东升大道一号</td>
                                </tr>
                                <tr>
                                    <td> 
                                    <div class="dt-title">主营业务</div>
                                    </td>
                                    <td class="gqtd"> 
                                    <div class="gq-detail">pe废膜压包出售</div>
                                    </td>
                                </tr>
                                </table>
                            </div>
                            </div>
                        </div>`
                        $(lastLi[i]).append(textHtml)
                    }
                }
               
                
            }
        })