extends component-box

block css
  link(rel="stylesheet",type="text/css", href="#{webtop}css/index.css")
  link(rel="stylesheet",type="text/css", href="//at.alicdn.com/t/font_706810_4im35j13prp.css")
  
block content
  .page_zs
    header.page-header
      .header-main.zz-flexbox
        a.header-left.container(href="javascript:void(0)" onclick="javascript :history.back(-1)")
          .block_icon
        .header-content.zz-flexbox-item.container 展会招商
        .header-right.container
          a.bm_btn(href="baoming.html") 报名
    block zs_content
      .zs_nav
        //- ,{imagename:"znav2.png",navname:'首席夜话',gohref:"zs_detail_02.html"}
        - var navlist = [{classname:"znav1",navname:'标准展位',gohref:"zs_view1.html"},{classname:"znav2",navname:'品牌广告',gohref:"zs_view2.html"},{classname:"znav3",navname:'LED视频轮播',gohref:"zs_view3.html"},{classname:"znav4",navname:'易拉宝',gohref:"zs_view4.html"},{classname:"znav5",navname:'废塑料加工机械设备专区',gohref:"zs_view5.html"}]
        each item in navlist
          a(href="#{item.gohref}").zs_nav_li.zz-flexbox
            .zs_icon_box.container
                i(class="zs_icon #{item.classname}")
            .zz-flexbox-item.zs_nav_name.vdmiddle #{item.navname}
            .zs_right_go
              .right_icon
        

  
    - var navindex = 1
    include component-navbt