extends component-box

block css
  link(rel="stylesheet",type="text/css", href="#{webtop}css/index.css")
  link(rel="stylesheet",type="text/css", href="//at.alicdn.com/t/font_706810_4im35j13prp.css")
  
block content
  .page_zs
    header.page-header
      .header-main.zz-flexbox
        a.header-left.container(href="javascript:void(0)" onclick="javascript :history.back(-1)")
          .block_icon
        .header-content.zz-flexbox-item.container 易拉宝
        .header-right.container
          a.bm_btn(href="baoming.html") 供需发布
    block zs_content
        .view
            .zs_box
                .zs_header
                    h3.zs_title 易拉宝
                    .zs_price 2000<span class="price_num">元/位</span> <span class="cnt-num">20个名额</span>
                .zs_main
                    h4.main_title 服务内容
                    ul.zs_arr
                      li  易拉宝尺寸82*180<br>(由91再生设计团队设计）
                      li  会议期间易拉宝展示区展出
                      li  LED图片广告轮播
                .zs_pic
                    img(src="./images/zsimg4_.png", alt="") 
        
        

  
    - var navindex = 1
    include component-navbt