doctype html
html
  head
    meta(http-equiv='Content-Type',content='text/html; charset=utf-8')
    meta(name='viewport',content='initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi = medium-dpi')
    meta(name='format-detection',content='telephone=no')
    meta(name='apple-touch-fullscreen',content='YES')
    meta(name='apple-mobile-web-app-capable',content='yes')
    meta(name='apple-mobile-web-app-status-bar-style',content='black')
    script(src="//img0.zz91.com/lib/jquery/jquery-1.8.0.min.js")
    link(rel="shortcut icon",href="//img0.zz91.com/front/favicon.ico")
    link(rel="stylesheet",type="text/css",href="//m.zz91.com/zt/commentryH5/css/base-min.css")
    link(rel="stylesheet",type="text/css",href="css/index.css")
    title 91再生2018年账单已送达
  body
    .box
      .box_m1 1
      .box_m2 2
      .box_m3 3
      .box_m4 4
  