$navHeight:100px;
.bottom_nav_height{
    height: $navHeight;
}
.bottom_nav{
    height: $navHeight;
    position: fixed;
    display: flex;
    width: 100%;
    border-top: 1px solid #f2f2f2;
    background: #f6f6f6;
    left: 0;
    bottom: 0;
    z-index: 100;
    .bt_nav_item{
        flex: 1;
        &:active{
            opacity: 0.8;
        }
        &.here_nve{
            .iconfont_box{
                color: #44962a;
            }
            .nav_item_name{
                color: #44962a;
            }
        }
        .iconfont_box{
            color: #bfbfbf;
            text-align: center;
            position: relative;
            height: 58px;
            .iconfont{
                font-size: 54px;
            }
            .iconfont_output{
                color: #44962a;
                position: absolute;
                font-size: 90px;
                left: 50%;
                margin-left: -34px;
                bottom: 12px;
                height: 68px;
                width: 68px;
                border-radius: 50%;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center
            }
        }
        .nav_item_name{
            text-align: center;
            font-size: #333;
            font-size: 24px;
        }
    }

}

.bottom_pop{
    border-top: 1px solid #f2f2f2;
    background: #fff;
    padding: 30px 0;
    // width: 750px;
    .bt_pop_mian{
        display: flex;
        margin: 0 12px;
        .bt_pop_item{
            flex: 1;
            text-align: center;
            .bt_pop_iconbox{
                height: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                .iconfont{
                    font-size: 140px;
                    line-height: 140px;
                }
                .icon_color1{
                    color: #ff4223
                }
                .icon_color2{
                    color: #0099d7
                }
                .icon_color3{
                    color: #009922
                }
            }
            .bt_pop_name{
                font-size: 36px
            }
        }
    }
    .bt_pop_close{
        margin-top: 60px;
        padding: 0 30px;
        text-align: center;
        .close_pop{
            font-size: 60px;
        }
    }
}

.video_ad_box{
    background: #fff;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 30px 0;
    .video_ad_main{
        .swiper-container {
            width: 702px;
            height: 480px;
        }
        .swiper-slide{
            background-image: url(https://b.zz91.com/jixie/images/firmbg.png);
            background-size: 100% 100%;
            padding:0 40px;
            .modle-ts{
                color: #ffb836;
                font-size: 32px;
                margin-top: 15px;
            }
            .modle-imgbox{
                position: relative;
                height: 280px;
                margin-top: 15px;
                display: block;
                .modle-img{
                    width: 100%;
                    height: 100%;
                }
                .modle_icon{
                    position: absolute;
                    color: #fff;
                    font-size: 120px;
                    left: 50%;
                    margin-top: -60px;
                    margin-left: -60px;
                    top: 50%
                }
            }
            .modle-title{
                font-size: 28px;
                color: #fff;
                margin-top: 15px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .swiper-pagination-bullet-active{
            background: #44962a
        }
    }
}

.tabBar{
    margin: 0 40px;
    display: flex;
    .tabItem{
        text-align: center;
        height: 100px;
        font-size: 36px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        position: relative;
        &.hereItem::after{
            position: absolute;
            content: '';
            width: 160px;
            height: 3px;
            background: #009922;
            left: 50%;
            margin-left: -80px;
            bottom: 0;
        }
        &.hereItem{
            font-weight: bold;
            color: #44962a;
        }
    }
}

.slideBox{
    margin-top: 30px;
    .buybox{
        background: #fff;
        border: 1px solid #ccc;
        margin: 0 30px;
        padding: 30px 30px;
        border-radius: 10px;
        .buybox_modle{
            padding: 15px 0;
        }
        .bbmd_title{
            font-size: 46px;
            font-weight: bold
        }
        .bbmd_ts{
            font-size: 32px;
            margin-top: 15px;
        }
        .bbmd_btn{
            margin: 0 auto;
            display: block;
            height: 100px;
            width: 300px;
            color: #fff;
            font-size: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #009922;
            border-radius: 10px;
            margin-top: 35px;
        }
        .bbmd_phone{
            text-align: center;
            font-size: 32px;
            margin-top: 15px;
            a{
                text-decoration: underline
            }
            
        }
        .bbmd_erwei_box{
            margin-top: 35px;
            text-align: center;
            img{
                width: 358px;
            }
        }
    }
}