extends component-header

block title
  title 资讯搜索
  
block header_name
  资讯搜索

block hd_sq
  a.iconfont.icon-search.hd_sq(href="search.html")

block content
  .bgbox
    .sq_mun.
      搜索到与 <span>注塑机</span>相关的文章，共<span>5000</span>条。
    .news-list
      .news-li.weui-flex
        .news-imgbox
          a(href="pt-view.html")
            img(src="images/cpimg.png")
        .news-info.weui-flex__item
          .wf-md
            a(href="pt-view.html")
              .title 说说选购注塑机你
              .defalute 我国被联合国认定为世界工业体。
          .othinfo.clearfloat
            .cp-jx.fl 
              a(href="search-info-true.html") 注塑机
            .into-time.fr 2018-11-07
      
      .news-li.news-li2.weui-flex
        .news-info.weui-flex__item
          .wf-md
            a(href="pt-view.html")
              .title 说说选购注塑机你
              .defalute 我国被联合国认定为世界工业体。
          .othinfo.clearfloat
            .cp-jx.fl 
              a(href="search-info-true.html") 注塑机
            .into-time.fr 2018-11-07

  a.gotop(href="javascript:void(0)")
    i.iconfont.icon-huidaodingbu
        
