extends component-header

block title
  title 资讯搜索
  
block header_name
  资讯搜索

block hd_sq
  a.iconfont.icon-search.hd_sq(href="search.html")

block content
  .bgbox
    .sq_not_info.bmbd.
      <i class="iconfont icon-iconfontxiaogantanhao"></i><br>
      搜索不到相关资讯，请更改搜索关键词<br>
      或者看看为您推荐的热门资讯

    .zx-list
      .mdtitle.bmbd 热门资讯推荐
      .news-list
        .news-li.weui-flex
          .news-imgbox
            a(href="pt-view.html")
              img(src="images/cpimg.png")
          .news-info.weui-flex__item
            .wf-md
              a(href="pt-view.html")
                .title 说说选购注塑机你
                .defalute 我国被联合国认定为世界工业体。
            .othinfo.clearfloat
              .cp-jx.fl 
                a(href="search-info-false.html") 注塑机
              .into-time.fr 2018-11-07
        .news-li.news-li2.weui-flex
          .news-info.weui-flex__item
            .wf-md
              a(href="pt-view.html")
                .title 说说选购注塑机你
                .defalute 我国被联合国认定为世界工业体。
            .othinfo.clearfloat
              .cp-jx.fl 
                a(href="search-info-false.html") 注塑机
              .into-time.fr 2018-11-07
        .news-li.news-li2.weui-flex
          .news-info.weui-flex__item
            .wf-md
              a(href="pt-view.html")
                .title 说说选购注塑机你
                .defalute 我国被联合国认定为世界工业体。
            .othinfo.clearfloat
              .cp-jx.fl 
                a(href="search-info-false.html") 注塑机
              .into-time.fr 2018-11-07
        .news-li.news-li2.weui-flex
          .news-info.weui-flex__item
            .wf-md
              a(href="pt-view.html")
                .title 说说选购注塑机你
                .defalute 我国被联合国认定为世界工业体。
            .othinfo.clearfloat
              .cp-jx.fl 
                a(href="search-info-false.html") 注塑机
              .into-time.fr 2018-11-07

  a.gotop(href="javascript:void(0)")
    i.iconfont.icon-huidaodingbu
