body {
  font-size: 0.4rem;
  color: #666666;
  line-height: 1; }

.fl {
  float: left; }

.fr {
  float: right; }

.img_szie, .page-up, .page1 .pimg_box1, .page1 .pimg_box2, .page1 .pimg_box3, .page1 .pimg_box4, .page1 .pimg_box5, .page1 .pimg_box6, .page1 .pimg_box7, .page1 .pimg_box8, .page1 .pimg_box9, .page1 .pimg_box10, .page1 .pimg_box11, .page1 .pimg_box12, .page1 .pimg_box13, .page2 .pimg_box2_1, .page2 .pimg_box2_2, .page2 .pimg_box2_3, .page2 .pimg_box2_4, .page2 .pimg_box2_6, .page2 .pimg_box2_5, .page3 .pimg_box3_1, .page4 .pimg_box3_1, .page5 .pimg_box3_1, .page6 .pimg_box3_1, .page7 .pimg_box3_1, .page8 .pimg_box3_1, .page3 .pimg_box3_2, .page4 .pimg_box3_2, .page5 .pimg_box3_2, .page6 .pimg_box3_2, .page7 .pimg_box3_2, .page8 .pimg_box3_2, .page3 .pimg_box3_3, .page4 .pimg_box3_3, .page5 .pimg_box3_3, .page6 .pimg_box3_3, .page7 .pimg_box3_3, .page8 .pimg_box3_3, .page4 .pimg_box4_1, .page4 .pimg_box4_2, .page5 .pimg_box5_1, .page5 .pimg_box5_2, .page5 .pimg_box5_3, .page5 .pimg_box5_4, .page5 .pimg_box5_5, .page5 .pimg_box5_6, .page5 .pimg_box5_7, .page6 .pimg_box6_1, .page7 .pimg_box6_1, .page8 .pimg_box6_1, .page6 .pimg_box6_2, .page7 .pimg_box6_2, .page8 .pimg_box6_2, .page6 .pimg_box6_3, .page7 .pimg_box6_3, .page8 .pimg_box6_3, .page6 .pimg_box6_4, .page7 .pimg_box6_4, .page8 .pimg_box6_4, .page6 .pimg_box6_5, .page7 .pimg_box6_5, .page8 .pimg_box6_5, .page6 .pimg_box6_6, .page7 .pimg_box6_6, .page8 .pimg_box6_6, .page6 .pimg_box6_7, .page7 .pimg_box6_7, .page8 .pimg_box6_7, .page6 .pimg_box6_8, .page7 .pimg_box6_8, .page8 .pimg_box6_8, .page6 .pimg_box6_9, .page7 .pimg_box6_9, .page8 .pimg_box6_9, .page9 .pimg_box9_3, .page9 .pimg_box9_6, .page9 .pimg_box9_4, .page9 .pimg_box9_5, .page10 .pimg_box10_5, .page10 .pimg_box10_2, .page10 .pimg_box10_3, .page10 .pimg_box10_4, .page10 .pimg_box10_6, .page10 .pimg_box10_7, .page10 .pimg_box10_8, .page10 .pimg_box10_9, .page10 .pimg_box10_10, .page10 .pimg_box10_11, .page11 .pimg_box11_2, .page11 .pimg_box11_3, .page11 .pimg_box11_4, .page11 .pimg_box11_5_, .page11 .pimg_box11_6_, .page11 .pimg_box11_7_, .page11 .pimg_box11_9_, .page11 .pimg_box11_10_, .page11 .pimg_box11_8_, .page12 .pimg_box12_1, .page12 .pimg_box12_5, .page13 .pimg_box13_1, .page13 .pimg_box13_2, .page13 .pimg_box13_3, .page13 .pimg_box13_4, .page13 .pimg_box13_5, .page13 .pimg_box13_6, .page14 .pimg_box14_3, .page14 .pimg_box14_4 {
  background-size: 100% 100%; }

.mian-page {
  height: 100%; }

.ptabsolet {
  position: absolute; }

.page_bg {
  width: 100%; }

.slide-main {
  height: 100%;
  overflow: hidden; }

.slide-main_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.music-box {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  z-index: 99; }
  .music-box .music {
    width: 100%;
    height: 100%;
    background: url(../images/music.png) transparent no-repeat center center;
    background-size: 100%; }
  .music-box.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite; }

.share_pop {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

.share_img {
  width: 4.4rem; }
  .share_img img {
    width: 100%; }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.page-up {
  width: 1.01333rem;
  height: 0.98667rem;
  left: 4.49333rem;
  top: 14.29333rem;
  background-image: url(../images/down_up.png);
  z-index: 10;
  -webkit-animation: up 1s linear infinite;
          animation: up 1s linear infinite; }

@-webkit-keyframes up {
  from {
    opacity: 0; }
  70% {
    opacity: 1;
    bottom: .72rem; }
  to {
    opacity: 0; } }

@keyframes up {
  from {
    opacity: 0; }
  70% {
    opacity: 1;
    bottom: .72rem; }
  to {
    opacity: 0; } }

.page1 .pimg_box1 {
  width: 1.73333rem;
  height: 1.54667rem;
  left: 1.32rem;
  top: 1.53333rem;
  background-image: url(../images/pImg6.png); }

.page1 .pimg_box2 {
  width: 1.10667rem;
  height: 1.09333rem;
  left: 3.24rem;
  top: 1.96rem;
  background-image: url(../images/pImg4.png); }

.page1 .pimg_box3 {
  width: 3.26667rem;
  height: 1.02667rem;
  left: 4.82667rem;
  top: 2.02667rem;
  background-image: url(../images/pImg1.png); }

.page1 .pimg_box4 {
  width: 1.41333rem;
  height: 1.41333rem;
  left: 0.90667rem;
  top: 3.81333rem;
  background-image: url(../images/pImg7.png); }

.page1 .pimg_box5 {
  width: 1.98667rem;
  height: 1.92rem;
  left: 2.57333rem;
  top: 3.57333rem;
  background-image: url(../images/pImg13.png); }

.page1 .pimg_box6 {
  width: 1.62667rem;
  height: 1.44rem;
  left: 4.61333rem;
  top: 3.72rem;
  background-image: url(../images/pImg3.png); }

.page1 .pimg_box7 {
  width: 0.82667rem;
  height: 0.84rem;
  left: 0.77333rem;
  top: 6.09333rem;
  background-image: url(../images/pImg11.png); }

.page1 .pimg_box8 {
  width: 1.77333rem;
  height: 1.81333rem;
  left: 1.81333rem;
  top: 6.26667rem;
  background-image: url(../images/pImg9.png); }

.page1 .pimg_box9 {
  width: 0.81333rem;
  height: 0.78667rem;
  left: 3.73333rem;
  top: 6.94667rem;
  background-image: url(../images/pImg2.png); }

.page1 .pimg_box10 {
  width: 6.25333rem;
  height: 9.93333rem;
  left: 2.66667rem;
  top: 3.68rem;
  background-image: url(../images/pImg8.png); }

.page1 .pimg_box11 {
  width: 7.50667rem;
  height: 8.58667rem;
  left: 2.49333rem;
  top: 3.88rem;
  background-image: url(../images/pImg10.png); }

.page1 .pimg_box12 {
  width: 1.01333rem;
  height: 0.57333rem;
  left: 7.16rem;
  top: 3.73333rem;
  background-image: url(../images/pImg12.png);
  -webkit-animation: scale 6s ease-in-out 0s infinite normal;
          animation: scale 6s ease-in-out 0s infinite normal; }

.page1 .pimg_box13 {
  width: 3.58667rem;
  height: 1.29333rem;
  left: 3.21333rem;
  top: 14.05333rem;
  background-image: url(../images/pImg5.png);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe;
          animation-name: breathe;
  -webkit-animation-duration: 2700ms;
          animation-duration: 2700ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

.page1 .pimg_box14 {
  width: 3.58667rem;
  height: 1.29333rem;
  left: 3.21333rem;
  top: 14.05333rem;
  text-align: center;
  color: #fff; }

@-webkit-keyframes breathe {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.6) translate(0px, 0px) rotate(0deg);
            transform: scale(0.6) translate(0px, 0px) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.5) translate(-100px, 50px) rotate(-10deg);
            transform: scale(1.5) translate(-100px, 50px) rotate(-10deg); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0.6) translate(0px, 0px) rotate(0deg);
            transform: scale(0.6) translate(0px, 0px) rotate(0deg); }
  100% {
    -webkit-transform: scale(1.5) translate(-100px, 50px) rotate(-10deg);
            transform: scale(1.5) translate(-100px, 50px) rotate(-10deg); } }

@-webkit-keyframes qiqiu {
  0% {
    -webkit-transform: translate(0) scaleX(1) scaleY(1);
            transform: translate(0) scaleX(1) scaleY(1); }
  to {
    -webkit-transform: translate(-13px, -35px) scaleX(1) scaleY(1);
            transform: translate(-13px, -35px) scaleX(1) scaleY(1); } }

@-webkit-keyframes hand {
  0% {
    -webkit-transform: translate(-8px, 5px) scaleX(1) scaleY(1);
            transform: translate(-8px, 5px) scaleX(1) scaleY(1); }
  100% {
    -webkit-transform: translate(8px, -8px) scaleX(1) scaleY(1);
            transform: translate(8px, -8px) scaleX(1) scaleY(1); } }

.page2 .pimg_box2_1 {
  width: 6.8rem;
  height: 5.36rem;
  left: 1.54667rem;
  top: 7.8rem;
  background-image: url(../images/pImg2_1.png); }

.page2 .pimg_box2_2 {
  width: 1.61333rem;
  height: 0.94667rem;
  left: 5.02667rem;
  top: 9.2rem;
  background-image: url(../images/pImg2_2.png); }

.page2 .pimg_box2_3 {
  width: 0.73333rem;
  height: 0.64rem;
  left: 7.2rem;
  top: 9.10667rem;
  background-image: url(../images/pImg2_5.png);
  -webkit-animation: qiqiu 8s linear infinite alternate;
          animation: qiqiu 8s linear infinite alternate; }

.page2 .pimg_box2_4 {
  width: 0.50667rem;
  height: 0.44rem;
  left: 6.14667rem;
  top: 7.78667rem;
  background-image: url(../images/pImg2_4.png);
  -webkit-animation: qiqiu 6s linear infinite alternate;
          animation: qiqiu 6s linear infinite alternate; }

.page2 .pimg_box2_6 {
  width: 5.02667rem;
  height: 3.84rem;
  left: 5.2rem;
  top: 10.56rem;
  background-image: url(../images/pImg2_6.png);
  -webkit-animation: hand 2s linear infinite alternate;
          animation: hand 2s linear infinite alternate; }

.page2 .pimg_box2_5 {
  width: 7.25333rem;
  height: 3.82667rem;
  left: 1.37333rem;
  top: 2.21333rem;
  background-image: url(../images/pImg2_3.png); }
  .page2 .pimg_box2_5 .pimg2_5_time {
    top: 1.24rem;
    left: 0.46667rem;
    color: #FF9001;
    font-size: 0.4rem;
    font-weight: bold;
    line-height: 0.66667rem; }
    .page2 .pimg_box2_5 .pimg2_5_time span {
      font-size: 0.64rem; }
  .page2 .pimg_box2_5 .pimg2_5_line {
    font-size: 0.4rem;
    left: 0.46667rem;
    top: 2.13333rem;
    line-height: 0.4rem;
    color: #666666; }
  .page2 .pimg_box2_5 .pimg2_5_data {
    font-size: 0.4rem;
    left: 0.46667rem;
    top: 2.73333rem;
    line-height: 0.4rem;
    color: #666666;
    line-height: 0.64rem; }
    .page2 .pimg_box2_5 .pimg2_5_data span {
      color: #FF9001;
      font-size: 0.64rem;
      font-weight: bold; }

.page3 .pimg_box3_1, .page4 .pimg_box3_1, .page5 .pimg_box3_1, .page6 .pimg_box3_1, .page7 .pimg_box3_1, .page8 .pimg_box3_1 {
  width: 7.25333rem;
  height: 4.54667rem;
  left: 1.37333rem;
  top: 2.38667rem;
  padding-top: 1.06667rem;
  background-image: url(../images/pImg3_2.png); }
  .page3 .pimg_box3_1 .pimg3_text_1, .page4 .pimg_box3_1 .pimg3_text_1, .page5 .pimg_box3_1 .pimg3_text_1, .page6 .pimg_box3_1 .pimg3_text_1, .page7 .pimg_box3_1 .pimg3_text_1, .page8 .pimg_box3_1 .pimg3_text_1 {
    margin-left: 0.46667rem;
    line-height: 0.64rem; }
    .page3 .pimg_box3_1 .pimg3_text_1 span, .page4 .pimg_box3_1 .pimg3_text_1 span, .page5 .pimg_box3_1 .pimg3_text_1 span, .page6 .pimg_box3_1 .pimg3_text_1 span, .page7 .pimg_box3_1 .pimg3_text_1 span, .page8 .pimg_box3_1 .pimg3_text_1 span {
      font-size: 0.64rem;
      font-weight: bold;
      color: #FF9001; }
  .page3 .pimg_box3_1 .pimg3_text_2, .page4 .pimg_box3_1 .pimg3_text_2, .page5 .pimg_box3_1 .pimg3_text_2, .page6 .pimg_box3_1 .pimg3_text_2, .page7 .pimg_box3_1 .pimg3_text_2, .page8 .pimg_box3_1 .pimg3_text_2 {
    margin-left: 0.46667rem;
    margin-top: 0.24rem; }
    .page3 .pimg_box3_1 .pimg3_text_2 span, .page4 .pimg_box3_1 .pimg3_text_2 span, .page5 .pimg_box3_1 .pimg3_text_2 span, .page6 .pimg_box3_1 .pimg3_text_2 span, .page7 .pimg_box3_1 .pimg3_text_2 span, .page8 .pimg_box3_1 .pimg3_text_2 span {
      font-weight: bold;
      color: #FF9001; }
  .page3 .pimg_box3_1 .pimg3_text_3, .page4 .pimg_box3_1 .pimg3_text_3, .page5 .pimg_box3_1 .pimg3_text_3, .page6 .pimg_box3_1 .pimg3_text_3, .page7 .pimg_box3_1 .pimg3_text_3, .page8 .pimg_box3_1 .pimg3_text_3 {
    margin-left: 0.46667rem;
    margin-top: 0.24rem;
    line-height: 0.64rem; }
    .page3 .pimg_box3_1 .pimg3_text_3 span, .page4 .pimg_box3_1 .pimg3_text_3 span, .page5 .pimg_box3_1 .pimg3_text_3 span, .page6 .pimg_box3_1 .pimg3_text_3 span, .page7 .pimg_box3_1 .pimg3_text_3 span, .page8 .pimg_box3_1 .pimg3_text_3 span {
      font-size: 0.64rem;
      font-weight: bold;
      color: #FF9001; }
  .page3 .pimg_box3_1 .pimg3_text_4, .page4 .pimg_box3_1 .pimg3_text_4, .page5 .pimg_box3_1 .pimg3_text_4, .page6 .pimg_box3_1 .pimg3_text_4, .page7 .pimg_box3_1 .pimg3_text_4, .page8 .pimg_box3_1 .pimg3_text_4 {
    margin-left: 0.46667rem;
    margin-top: 0.24rem; }

.page3 .pimg_box3_2, .page4 .pimg_box3_2, .page5 .pimg_box3_2, .page6 .pimg_box3_2, .page7 .pimg_box3_2, .page8 .pimg_box3_2 {
  width: 0.44rem;
  height: 0.37333rem;
  left: 2.81333rem;
  top: 8.56rem;
  background-image: url(../images/pImg3_3.png); }

.page3 .pimg_box3_3, .page4 .pimg_box3_3, .page5 .pimg_box3_3, .page6 .pimg_box3_3, .page7 .pimg_box3_3, .page8 .pimg_box3_3 {
  width: 6.46667rem;
  height: 4.70667rem;
  left: 1.8rem;
  top: 8.54667rem;
  background-image: url(../images/pImg3_1.png); }

.page3 .pimg_box3_4, .page4 .pimg_box3_4, .page5 .pimg_box3_4, .page6 .pimg_box3_4, .page7 .pimg_box3_4, .page8 .pimg_box3_4 {
  width: 3.81333rem;
  height: 1.41333rem;
  left: 2.93333rem;
  top: 9.2rem;
  overflow: hidden;
  -webkit-transform: rotate3d(0.4, 1, 0.19, 61deg);
          transform: rotate3d(0.4, 1, 0.19, 61deg); }
  .page3 .pimg_box3_4 img, .page4 .pimg_box3_4 img, .page5 .pimg_box3_4 img, .page6 .pimg_box3_4 img, .page7 .pimg_box3_4 img, .page8 .pimg_box3_4 img {
    -webkit-animation: webtop 19s ease-in-out 0.5s infinite normal;
            animation: webtop 19s ease-in-out 0.5s infinite normal; }

@-webkit-keyframes webtop {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1) scaleY(1);
            transform: translate(0, 0) scaleX(1) scaleY(1); }
  100% {
    -webkit-transform: translate(0, -60%) scaleX(1) scaleY(1);
            transform: translate(0, -60%) scaleX(1) scaleY(1); } }

.page4 .pimg_box3_4 {
  left: 2.73333rem;
  top: 9.22667rem; }

.page4 .pimg_box4_1 {
  width: 7.29333rem;
  height: 4.70667rem;
  left: 1.61333rem;
  top: 8.57333rem;
  background-image: url(../images/pImg4_1.png); }

.page4 .pimg_box4_2 {
  width: 1.12rem;
  height: 1.24rem;
  left: 1.4rem;
  top: 9.17333rem;
  background-image: url(../images/pImg4_2.png); }

.page5 .pimg_box5_1 {
  width: 5.94667rem;
  height: 4.88rem;
  left: 2.16rem;
  top: 9.29333rem;
  background-image: url(../images/pImg5_1.png); }

.page5 .pimg_box5_2 {
  width: 1.49333rem;
  height: 0.61333rem;
  left: 3.25333rem;
  top: 8.81333rem;
  background-image: url(../images/pImg5_2.png); }

.page5 .pimg_box5_3 {
  width: 0.42667rem;
  height: 0.37333rem;
  left: 1.93333rem;
  top: 10.82667rem;
  background-image: url(../images/pImg5_3.png); }

.page5 .pimg_box5_4 {
  width: 0.73333rem;
  height: 0.64rem;
  left: 6.78667rem;
  top: 9.53333rem;
  background-image: url(../images/pImg5_4.png); }

.page5 .pimg_box5_5 {
  width: 3.06667rem;
  height: 2.53333rem;
  left: 3.73333rem;
  top: 9.6rem;
  background-image: url(../images/pImg5_5.png);
  -webkit-animation: kownlike 3s ease-in-out 0.5s infinite alternate;
          animation: kownlike 3s ease-in-out 0.5s infinite alternate; }

.page5 .pimg_box5_6 {
  width: 3.06667rem;
  height: 2.53333rem;
  left: 3.77333rem;
  top: 10.37333rem;
  background-image: url(../images/pImg5_6.png);
  -webkit-animation: kownlike_2 3s ease-in-out 1.5s infinite alternate;
          animation: kownlike_2 3s ease-in-out 1.5s infinite alternate; }

.page5 .pimg_box5_7 {
  width: 3.06667rem;
  height: 2.53333rem;
  left: 3.73333rem;
  top: 11.13333rem;
  -webkit-animation: kownlike_1 3s ease-in-out 2.5s infinite alternate;
          animation: kownlike_1 3s ease-in-out 2.5s infinite alternate;
  background-image: url(../images/pImg5_7.png); }

@-webkit-keyframes kownlike {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(16%, -3%);
            transform: translate(16%, -3%); }
  60% {
    -webkit-transform: translate(16%, -3%);
            transform: translate(16%, -3%); }
  100% {
    -webkit-transform: translate(16%, -3%);
            transform: translate(16%, -3%); } }

@-webkit-keyframes kownlike_1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(16%, -3%);
            transform: translate(16%, -3%); } }

@-webkit-keyframes kownlike_2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  30% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  60% {
    -webkit-transform: translate(-16%, -12%);
            transform: translate(-16%, -12%); }
  100% {
    -webkit-transform: translate(-16%, -12%);
            transform: translate(-16%, -12%); } }

.page6 .pimg_box6_1, .page7 .pimg_box6_1, .page8 .pimg_box6_1 {
  width: 5.65333rem;
  height: 8.70667rem;
  left: 2.61333rem;
  top: 4.54667rem;
  background-image: url(../images/pImg6_1.png); }

.page6 .pimg_box6_2, .page7 .pimg_box6_2, .page8 .pimg_box6_2 {
  width: 1.73333rem;
  height: 2.14667rem;
  left: 3.22667rem;
  top: 9.81333rem;
  background-image: url(../images/pImg6_2.png); }

.page6 .pimg_box6_3, .page7 .pimg_box6_3, .page8 .pimg_box6_3 {
  width: 0.86667rem;
  height: 0.74667rem;
  left: 1.78667rem;
  top: 9.53333rem;
  background-image: url(../images/pImg6_3.png); }

.page6 .pimg_box6_4, .page7 .pimg_box6_4, .page8 .pimg_box6_4 {
  width: 1.02667rem;
  height: 0.89333rem;
  left: 7.10667rem;
  top: 8.26667rem;
  background-image: url(../images/pImg6_4.png); }

.page6 .pimg_box6_5, .page7 .pimg_box6_5, .page8 .pimg_box6_5 {
  width: 1.30667rem;
  height: 1.29333rem;
  left: 4.37333rem;
  top: 9.50667rem;
  background-image: url(../images/pImg6_5.png);
  -webkit-animation: 1.2s linear infinite;
          animation: 1.2s linear infinite;
  -webkit-animation-name: c2;
          animation-name: c2;
  -webkit-animation-delay: .6s;
          animation-delay: .6s; }

.page6 .pimg_box6_6, .page7 .pimg_box6_6, .page8 .pimg_box6_6, .page6 .pimg_box6_7, .page7 .pimg_box6_7, .page8 .pimg_box6_7 {
  width: 0.48rem;
  height: 0.56rem;
  left: 3.22667rem;
  top: 8.98667rem;
  opacity: 0;
  background-image: url(../images/pImg6_1_03.png);
  -webkit-animation: mey_show 3s ease-in-out 0s infinite normal;
          animation: mey_show 3s ease-in-out 0s infinite normal; }

.page6 .pimg_box6_7, .page7 .pimg_box6_7, .page8 .pimg_box6_7 {
  -webkit-animation: mey_show 3s ease-in-out 0.8s infinite normal;
          animation: mey_show 3s ease-in-out 0.8s infinite normal;
  left: 1.33333rem;
  top: 8rem; }

.page6 .pimg_box6_8, .page7 .pimg_box6_8, .page8 .pimg_box6_8, .page6 .pimg_box6_9, .page7 .pimg_box6_9, .page8 .pimg_box6_9 {
  width: 0.48rem;
  height: 0.56rem;
  left: 3.22667rem;
  top: 8.98667rem;
  opacity: 0;
  background-image: url(../images/pImg6_1_07.png);
  -webkit-animation: mey_show 3s ease-in-out 1.6s infinite normal;
          animation: mey_show 3s ease-in-out 1.6s infinite normal;
  left: 2.4rem; }

.page6 .pimg_box6_9, .page7 .pimg_box6_9, .page8 .pimg_box6_9 {
  left: 5.33333rem; }

@-webkit-keyframes mey_show {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 2.66667rem);
            transform: translate(0, 2.66667rem); } }

@keyframes mey_show {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 2.66667rem);
            transform: translate(0, 2.66667rem); } }

@-webkit-keyframes c2 {
  0% {
    -webkit-transform: scale(0.522);
            transform: scale(0.522);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.922);
            transform: scale(0.922);
    opacity: .4; }
  98% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: .2; }
  100% {
    opacity: 0; } }

@keyframes c2 {
  0% {
    -webkit-transform: scale(0.522);
            transform: scale(0.522);
    opacity: 1; }
  50% {
    -webkit-transform: scale(0.922);
            transform: scale(0.922);
    opacity: .4; }
  98% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: .2; }
  100% {
    opacity: 0; } }

.page8 .pimg_box3_1 .pimg3_text_3 span {
  font-size: 0.48rem; }

.page8 .pimg_box6_2 {
  width: 4.61333rem;
  height: 4.21333rem;
  left: 0.34667rem;
  top: 10.30667rem;
  background-image: url(../images/pImg8_1.png); }

.page9 .pimg_box9_1, .page9 .pimg_box9_2 {
  text-align: center;
  width: 100%;
  left: 0;
  top: 1.73333rem;
  font-size: 0.61333rem;
  font-weight: bold;
  color: #fff; }

.page9 .pimg_box9_2 {
  top: 2.66667rem; }

.page9 .pimg_box9_3, .page9 .pimg_box9_6 {
  width: 7.28rem;
  height: 9.28rem;
  left: 1.36rem;
  top: 4.44rem;
  background-image: url(../images/pImg9_2.png); }

.page9 .pimg_box9_4 {
  width: 5.97333rem;
  height: 4.44rem;
  left: 2.22667rem;
  top: 13.6rem;
  background-image: url(../images/pImg9_1.png); }

.page9 .pimg_box9_5 {
  width: 7.50667rem;
  height: 8.58667rem;
  left: 2.34667rem;
  top: 8.44rem;
  background-image: url(../images/pImg9_3.png);
  -webkit-animation: zdan 2s ease-in-out 2.5s infinite alternate;
          animation: zdan 2s ease-in-out 2.5s infinite alternate; }

.page9 .pimg_box9_6 {
  background-image: none;
  padding: 1.41333rem 0.57333rem 0; }
  .page9 .pimg_box9_6 .boxinfo {
    font-size: 0.4rem;
    line-height: 0.4rem; }
  .page9 .pimg_box9_6 .pay_all {
    color: #FF9001;
    font-size: 0.64rem;
    font-weight: bold;
    line-height: 0.66667rem;
    margin-top: 0.33333rem; }
  .page9 .pimg_box9_6 .pay_list {
    margin-top: 0.86667rem; }
    .page9 .pimg_box9_6 .pay_list .pay_li {
      line-height: 0.4rem;
      margin-bottom: 0.66667rem; }

@-webkit-keyframes zdan {
  0% {
    -webkit-transform: scale(1, 1) translate(0, 0);
            transform: scale(1, 1) translate(0, 0); }
  100% {
    -webkit-transform: scale(1, 1.1) translate(0, -3%);
            transform: scale(1, 1.1) translate(0, -3%); } }

@keyframes zdan {
  0% {
    -webkit-transform: scale(1, 1) translate(0, 0);
            transform: scale(1, 1) translate(0, 0); }
  100% {
    -webkit-transform: scale(1, 1.1) translate(0, -3%);
            transform: scale(1, 1.1) translate(0, -3%); } }

.page10 .pimg_box10_1 {
  text-align: center;
  left: 0;
  width: 100%;
  top: 1.66667rem;
  font-size: 0.61333rem;
  font-weight: bold;
  color: #fff; }

.page10 .pimg_box10_5, .page10 .pimg_box10_2 {
  width: 7.25333rem;
  height: 4.73333rem;
  left: 1.37333rem;
  top: 2.92rem;
  background-image: url(../images/pImg10_2.png); }

.page10 .pimg_box10_2 {
  background-image: none;
  /*@extend .img_szie;*/
  text-align: center;
  padding-top: 1.2rem; }
  .page10 .pimg_box10_2 .pay_all_zs {
    font-size: 0.61333rem;
    font-weight: bold;
    color: #FF9001;
    line-height: 0.64rem;
    margin-top: 0.13333rem; }
  .page10 .pimg_box10_2 .mdst {
    margin-top: 0.26667rem; }
  .page10 .pimg_box10_2 .mdst_li {
    margin-bottom: 0.2rem;
    line-height: 0.4rem; }

.page10 .pimg_box10_3 {
  width: 7.41333rem;
  height: 5.68rem;
  left: 1.68rem;
  top: 8.82667rem;
  background-image: url(../images/pImg10_1.png); }

.page10 .pimg_box10_4 {
  width: 8.32rem;
  height: 6.02667rem;
  left: 0.86667rem;
  top: 8.02667rem;
  background-image: url(../images/pImg10_3.png);
  -webkit-animation: qiqiu 10s linear 0s infinite none;
          animation: qiqiu 10s linear 0s infinite none; }

.page10 .pimg_box10_6 {
  width: 1.72rem;
  height: 0.89333rem;
  left: 8rem;
  top: 9.09333rem;
  background-image: url(../images/pImg10_4.png);
  -webkit-animation: yundong 10s ease-in 0s infinite none;
          animation: yundong 10s ease-in 0s infinite none; }

.page10 .pimg_box10_7 {
  opacity: 0;
  width: 1.2rem;
  height: 0.73333rem;
  left: 8rem;
  top: 11.06667rem;
  background-image: url(../images/pImg10_5.png);
  -webkit-animation: yundong 8s ease-in 0.5s infinite none;
          animation: yundong 8s ease-in 0.5s infinite none; }

.page10 .pimg_box10_8 {
  opacity: 0;
  width: 1.43333rem;
  height: 0.74444rem;
  left: 8rem;
  top: 11.46667rem;
  -webkit-animation: yundong 10s ease-in 1s infinite none;
          animation: yundong 10s ease-in 1s infinite none;
  background-image: url(../images/pImg10_4.png); }

.page10 .pimg_box10_9 {
  opacity: 0;
  width: 1.14667rem;
  height: 0.59556rem;
  left: 8rem;
  top: 10.13333rem;
  -webkit-animation: yundong 13s ease-in 1.5s infinite none;
          animation: yundong 13s ease-in 1.5s infinite none;
  background-image: url(../images/pImg10_4.png); }

.page10 .pimg_box10_10 {
  opacity: 0;
  width: 0.86rem;
  height: 0.44667rem;
  left: 8rem;
  top: 10.4rem;
  -webkit-animation: yundong 15s ease-in 2s infinite none;
          animation: yundong 15s ease-in 2s infinite none;
  background-image: url(../images/pImg10_4.png); }

.page10 .pimg_box10_11 {
  opacity: 0;
  width: 0.57333rem;
  height: 0.29778rem;
  left: 8rem;
  top: 11.46667rem;
  -webkit-animation: yundong 15s ease-in 0.7s infinite none;
          animation: yundong 15s ease-in 0.7s infinite none;
  background-image: url(../images/pImg10_4.png); }

@-webkit-keyframes yundong {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-400px, 0);
            transform: translate(-400px, 0); } }

@keyframes yundong {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-400px, 0);
            transform: translate(-400px, 0); } }

@keyframes qiqiu {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  25% {
    -webkit-transform: translate(0, -10%);
            transform: translate(0, -10%); }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  75% {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

.page11 .pimg_box11_1 {
  left: 0;
  top: 2.29333rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.61333rem;
  line-height: 0.64rem;
  color: #fff;
  text-align: center; }

.page11 .pimg_box11_2 {
  width: 2.41333rem;
  height: 2.6rem;
  left: 3.78667rem;
  top: 7.6rem;
  background-image: url(../images/pImg11_5.png); }

.page11 .pimg_box11_3 {
  width: 4.46667rem;
  height: 4.69333rem;
  left: 2.78667rem;
  top: 6.42667rem;
  background-image: url(../images/pImg11_3.png); }

.page11 .pimg_box11_4 {
  width: 5.13333rem;
  height: 5.13333rem;
  left: 2.45333rem;
  top: 6.17333rem;
  background-image: url(../images/pImg11_4.png);
  -webkit-animation: light 3s ease-in-out 2.5s infinite alternate;
          animation: light 3s ease-in-out 2.5s infinite alternate; }

.page11 .pimg_box11_5, .page11 .pimg_box11_6, .page11 .pimg_box11_7, .page11 .pimg_box11_8, .page11 .pimg_box11_9, .page11 .pimg_box11_10 {
  width: 3.06667rem;
  left: 3.42667rem;
  color: #fff;
  top: 4.64rem;
  line-height: 0.64rem;
  text-align: center; }
  .page11 .pimg_box11_5 span, .page11 .pimg_box11_6 span, .page11 .pimg_box11_7 span, .page11 .pimg_box11_8 span, .page11 .pimg_box11_9 span, .page11 .pimg_box11_10 span {
    font-size: 0.61333rem; }

.page11 .pimg_box11_5_, .page11 .pimg_box11_6_, .page11 .pimg_box11_7_, .page11 .pimg_box11_9_, .page11 .pimg_box11_10_ {
  width: 1.06667rem;
  height: 1.13333rem;
  left: 4.49333rem;
  top: 5.30667rem;
  background-image: url(../images/pImg11_1.png);
  text-align: center;
  line-height: 1.13333rem;
  color: #fff; }

.page11 .pimg_box11_6, .page11 .pimg_box11_7 {
  top: 6.17333rem;
  left: 6.26667rem; }

.page11 .pimg_box11_6_, .page11 .pimg_box11_7_ {
  left: 7.18667rem;
  top: 6.82667rem; }

.page11 .pimg_box11_7 {
  top: 8.96rem; }

.page11 .pimg_box11_7_ {
  top: 9.61333rem; }

.page11 .pimg_box11_8 {
  top: 12.46667rem; }

.page11 .pimg_box11_8_ {
  width: 1.24rem;
  height: 1.29333rem;
  left: 4.37333rem;
  top: 11.09333rem;
  background-image: url(../images/pImg11_2.png);
  text-align: center;
  line-height: 1.29333rem;
  color: #fff; }

.page11 .pimg_box11_9, .page11 .pimg_box11_10 {
  left: 0.73333rem;
  top: 8.98667rem; }

.page11 .pimg_box11_9_, .page11 .pimg_box11_10_ {
  top: 9.61333rem;
  left: 1.77333rem; }

.page11 .pimg_box11_10 {
  top: 6.18667rem; }

.page11 .pimg_box11_10_ {
  top: 6.84rem; }

@-webkit-keyframes light {
  from,
  55%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes light {
  from,
  55%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    opacity: 0; } }

.page12 .pimg_box12_1 {
  width: 2.66667rem;
  height: 1.05333rem;
  left: 6.42667rem;
  top: 1.12rem;
  background-image: url(../images/pImg12_1.png); }

.page12 .pimg_box12_2, .page12 .pimg_box12_3 {
  left: 0;
  top: 1.70667rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.61333rem;
  line-height: 0.64rem;
  color: #fff;
  text-align: center; }

.page12 .pimg_box12_3 {
  font-weight: normal;
  font-size: 0.4rem;
  top: 2.57333rem;
  line-height: 0.4rem; }

.page12 .pimg_box12_5 {
  width: 6.13333rem;
  height: 4.90667rem;
  left: 1.84rem;
  top: 12.76rem;
  background-image: url(../images/pImg12_2.png); }

.page12 .biginfo_main {
  position: relative; }
  .page12 .biginfo_main .biginfo_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.6rem;
    z-index: 2;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #71cfb7));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #71cfb7 70%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #71cfb7 70%);
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #71cfb7 70%); }
  .page12 .biginfo_main .biginfo_li_last {
    height: 1.6rem; }

.page12 .spt_info {
  height: 8.34667rem; }

.page12 .pimg_box12_4 {
  height: 8.34667rem;
  width: 8.6rem;
  left: 0.86667rem;
  top: 3.77333rem;
  overflow: hidden; }
  .page12 .pimg_box12_4 .biginfo_li {
    position: relative;
    padding-bottom: 0.58667rem; }
    .page12 .pimg_box12_4 .biginfo_li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0.32rem;
      width: 0.58667rem;
      height: 0.58667rem;
      background: #fff;
      border-radius: 50%; }
    .page12 .pimg_box12_4 .biginfo_li:after {
      content: '';
      position: absolute;
      left: 0.29333rem;
      margin-left: -0.01333rem;
      top: 0.32rem;
      width: 0.02667rem;
      height: 100%;
      background: #fff;
      border-radius: 50%; }
  .page12 .pimg_box12_4 .spt_info .swiper-slide:nth-child(9) .biginfo_li:after {
    height: 0; }
  .page12 .pimg_box12_4 .b_hf {
    height: 1.2rem;
    margin-left: 1.06667rem;
    display: block;
    font-size: 0.37333rem;
    line-height: 1.2rem;
    padding-left: 0.26667rem;
    background: #fff;
    color: #666;
    border-radius: 0.10667rem; }

.page13 .pimg_box13_1 {
  width: 3.85333rem;
  height: 6.17333rem;
  left: 2.98667rem;
  top: 5.64rem;
  background-image: url(../images/pImg13_1.png);
  -webkit-animation: renwu 3s ease-in-out 1.5s infinite alternate;
          animation: renwu 3s ease-in-out 1.5s infinite alternate; }

.page13 .pimg_box13_2 {
  width: 1.24rem;
  height: 2.16rem;
  left: 4.26667rem;
  top: 5.16rem;
  background-image: url(../images/pImg13_6.png);
  -webkit-animation: renwu 3s ease-in-out 1.5s infinite alternate;
          animation: renwu 3s ease-in-out 1.5s infinite alternate; }

.page13 .pimg_box13_3 {
  width: 4.96rem;
  height: 1.69333rem;
  left: 3.26667rem;
  top: 8.10667rem;
  background-image: url(../images/pImg13_4.png); }

.page13 .pimg_box13_4 {
  width: 1.52rem;
  height: 1.93333rem;
  left: 7.54667rem;
  top: 10.38667rem;
  background-image: url(../images/pImg13_3.png);
  -webkit-animation: zuoyi 2s ease-in-out 1s infinite alternate;
          animation: zuoyi 2s ease-in-out 1s infinite alternate; }

.page13 .pimg_box13_5 {
  width: 1.14667rem;
  height: 1.26667rem;
  left: 1.52rem;
  top: 8.41333rem;
  background-image: url(../images/pImg13_5.png);
  -webkit-animation: zuoyi 3s ease-in-out 1.5s infinite alternate;
          animation: zuoyi 3s ease-in-out 1.5s infinite alternate; }

.page13 .pimg_box13_6 {
  width: 4.78667rem;
  height: 1.29333rem;
  left: 2.61333rem;
  top: 12.77333rem;
  background-image: url(../images/pImg13_2.png);
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe;
          animation-name: breathe;
  -webkit-animation-duration: 2700ms;
          animation-duration: 2700ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }

.page13 .pimg_box13_7, .page13 .pimg_box13_8, .page13 .pimg_box13_9 {
  left: 0;
  top: 2.2rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.61333rem;
  line-height: 0.64rem;
  color: #fff;
  text-align: center; }

.page13 .pimg_box13_8 {
  top: 3.13333rem; }

.page13 .pimg_box13_9 {
  font-size: 0.4rem;
  line-height: 0.4rem;
  top: 4.18667rem;
  font-weight: normal; }

.page13 .pimg_box13_10 {
  left: 0;
  top: 14.37333rem;
  width: 100%;
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.4rem;
  color: #fff;
  text-align: center; }

@-webkit-keyframes renwu {
  0% {
    -webkit-transform: translate(0, 0) scaleX(1) scaleY(1);
            transform: translate(0, 0) scaleX(1) scaleY(1); }
  100% {
    -webkit-transform: translate(0, 15px) scaleX(1) scaleY(1);
            transform: translate(0, 15px) scaleX(1) scaleY(1); } }

@-webkit-keyframes zuoyi {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%); } }

.page14 .pimg_box14_1 {
  text-align: center;
  left: 0;
  width: 100%;
  top: 2.14667rem;
  font-size: 0.61333rem;
  font-weight: bold;
  color: #fff; }

.page14 .pimg_box14_2 {
  text-align: center;
  left: 0;
  width: 100%;
  top: 3.6rem;
  font-size: 0.4rem;
  line-height: 0.73333rem;
  color: #fff; }
  .page14 .pimg_box14_2 span {
    font-weight: bold; }

.page14 .pimg_box14_3 {
  width: 3.54667rem;
  height: 5.26667rem;
  left: 3.18667rem;
  top: 8.26667rem;
  background-image: url(../images/pImg14_1.png); }

.page14 .pimg_box14_4 {
  width: 4.64rem;
  height: 1.28rem;
  left: 2.68rem;
  top: 14.01333rem;
  background-image: url(../images/pImg14_2.png); }

.slides-center {
  left: 50%; }
