extends component-comm

block pagetitle
    积分好礼

block appcontent
    .ads-not.weui-flex
        .weui-flex__item.vdmiddle 您还未设置收件地址
        .setup.container
            a.setup-btn 立即设置

    .ads-my
        .mell-info 陈杰   13805702507
        .mell-ads 浙江  杭州  滨江区  江南文苑13-2-1101

    .succ-mell-cnt
        .succ-icon
        .succ-title 兑换成功
        .succ-detail. 
            客服将在24小时内联系您核对收货地址<br>剩余积分：<span>5000</span>
    
    .last-btnbox.clearfloat
        a.succ-btn1(href="mell_history.html") 查看记录
        a.succ-btn2(href="mell_list.html") 继续兑换
    