@function size($num) {
  @return $num/75+rem;
};
body{
  font-size: size(28);
  line-height: 1;
  max-width: 540px;
  margin: 0 auto;
}
.weui-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  
  .weui-flex__item {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1; }

    .ellipsis-1 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ellipsis-2 {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: normal !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .vdmiddle {
      display: flex;
      display: -webkit-box;
      display: -moz-box; 
      -webkit-box-align:center;
      -moz-box-align:center; 
  }
  .vdbottom {
    display: flex;
    display: -webkit-box;
    display: -moz-box; 
    -webkit-box-align:end;
    -moz-box-align:end; 
  }
  .page_box_index{
    background-image: url(../images/img3.png) , url(../images/page_bg.png) , url(../images/img1.jpg);
    background-position: left top, left bottom,left top;
    background-repeat: no-repeat,no-repeat,  repeat;
    background-size: 100% auto,100% auto,100% auto;
    overflow: hidden;
  }
  .plastic_ts{
    margin-top: size(495);
    margin-bottom: size(80);
    height: size(142);

    background-image: url(../images/img4.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: size(172) 0;
  }
  
  .bt_nav{
    height: size(93);

    .bt_nav_main{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: size(93);
      z-index: 100;
      border-top: 1px solid #202c32;

      background: #fff;
      .nav_li{
        @extend .container;
        text-align: center;
        color: #9d9d9d;
        font-size: size(24);
        text-decoration: none;
        .nav_icon1{
          display: block;
          margin: 0 auto;
          width: size(34);
          height: size(44);

          background-image: url(../images/nav3_.png);
          background-position: center center;
          background-repeat: no-repeat;
          background-size:size(32) size(28);
        }
        .nav_icon2{
          @extend .nav_icon1;
          background-image: url(../images/nav4_.png);
          background-size:size(32) size(32);
        }
        .nav_icon3{
          @extend .nav_icon1;
          background-image: url(../images/nav1_.png);
          background-size:size(28) size(31);
        }
        .nav_icon4{
          @extend .nav_icon1;
          background-image: url(../images/nav2_.png);
          background-size:size(33) size(29);
        }
      }
      .thisnav{
        @extend .nav_li;
        color: #52ab80;
        .nav_icon1{
          background-image: url(../images/nav3.png);
        }
        .nav_icon2{
          background-image: url(../images/nav4.png);
        }
        .nav_icon3{
          background-image: url(../images/nav1.png);
        }
        .nav_icon4{
          background-image: url(../images/nav2.png);
        }
      }
    }
  }
  .plastic-modle{
    margin: 0 size(30) size(48);
    .modle-title{
      background-image: url(../images/img5.png);
      background-size: size(32) size(12);
      background-position: left bottom;
      background-repeat: no-repeat;
      .pic-tile{
        height: size(30);
        vertical-align: bottom;
        margin-left: size(44)
      }
    }
    .modle-main{
      margin-top: size(18);
      background: rgba(255, 255, 255, 0.04);
      border-top: size(14) solid #99bdbb;
    }
    .plastic-world{
      padding: size(35) size(54);
      color: #fff;
      font-size: size(24);
      line-height: size(42)
    }
    .plstic_star{
      margin: 0 size(30);
      padding: size(35) 0 size(75);
    
      .star_hr{
        width: size(50);
      }    
      .star-icon-bg{
        width: size(155);
        height: size(155);
        background: url(../images/star-bg.png) no-repeat;
        background-size: 100%;
        overflow: hidden;
        .star-icon1{
          width: size(60);
          height: size(60);
          background-image: url(../images/s_star1.png);
          background-size: 100%;
          margin-left:size(30);
          margin-top:size(66)
        }
        .star-icon2{
          @extend .star-icon1;
          background-image: url(../images/s_star2.png);
        }
        .star-icon3{
          @extend .star-icon1;
          background-image:url("../images/s_star3.png")
        }
      }
      .star-title{
        margin-top: size(20);
        font-size: size(36);
        color: #fff;

        span{
          color:#6ee698;
        }
      }
      .star-detail{
        margin-top: size(20);
        font-size: size(24);
        color:#fff;
        line-height: size(32);
      }
    }
    .plstic-scope{
      margin: 0 size(128);
      padding: size(60) 0;
      .p_scope_li{
        margin-bottom: size(19)
      }
      .scope_hr{
        width: size(9);
      }
      .scope-em{
        position: relative;
        height: size(47);
        
        text-align: center;
        line-height: size(47);
        font-size: size(30);
        color: #fff;
        .scope-em-main{
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px solid #8799a3;
          border-radius: size(23.5);
        }
        &::before{
          position: absolute;
          left: size(-2);
          bottom: size(-5);

          content: '';
          height: size(80);
          width: size(80);
          background-image: url(../images/star-bg.png);
          background-size: 100%
        }
      }
    }
    .plastic_play{
      overflow: hidden;
      .p_play_img{
        width: size(611);
        height: size(281);
        background-image: url(../images/playimg.png);
        background-size: 100%;
        margin: size(34) auto 0;
      }
      .play_go{
        text-align: center;
        display: block;
        height: size(66);
        line-height: size(66);
        color: #fff;
      }
    }
    .plastic-rout{
      margin: 0 size(14);
      padding-bottom: size(62);
      .rout-time{
        color: #ed9509;
        padding:size(40) size(25) size(24)
      }
      .rout-list{
        border-top: 2px solid #a9aeb0;
        border-bottom: 2px solid #a9aeb0
      }
      .rout-li{
        border-bottom: 1px solid #a9aeb0;
        padding: size(50) size(25);
        color: #fff;
        &:last-child{
          border: 0;
        }
        .rout-list-left{
          font-size: size(20);
          // margin-right: size(20);
          width: size(167);
          line-height: size(30);
          padding-top: size(10);
        }
        .rout-detail-list{
          font-size: size(24);
          li{
            position: relative;
            padding-left: size(30);
            line-height: size(50);
            // margin-bottom: size(25);
            &:last-child{
              margin-bottom: 0
            }
            &::before{
              position: absolute;
              content: '';
              width: size(15);
              height: size(2);
              left: 0;
              top: size(15);
              background: #407762
            }
          }
        }
      }
    }
    .plastic-contact{
      padding: size(50) 0 size(50) size(50);
      .erwei{
        height: size(179);
        width: size(179);
        margin-right: size(35);
        color: #fff;
        img{
          width: 100%;
        }
      }
      .contact_detail{
        color: #fff;
        line-height: size(45);
        a{
          color: #fff;
          text-decoration:underline
        }
      }
    }
  }

  .left_nav{
    position: fixed;
    right: size(5);
    bottom: size(140);
    z-index: 10;
    .left_nab_li{
      display: block;
      width: size(141);
      height: size(47);
      margin-bottom: size(12);
      &:active{
        opacity: 0.8;
      }
      &.lnav1{
        background: url(../images/left_nav1.png);
        background-size: 100%
      }
      &.lnav1{
        background: url(../images/left_nav2.png);
        background-size: 100%
      }
      &.lnav2{
        background: url(../images/left_nav3.png);
        background-size: 100%
      }
      &.lnav3{
        background: url(../images/left_nav4.png);
        background-size: 100%
      }
      &.lnav4{
        background: url(../images/left_nav5.png);
        background-size: 100%
      }
      &.lnav5{
        background: url(../images/left_nav1.png);
        background-size: 100%
      }
    }
  }

.page-band-height{
  height: size(795);
}
.page_prize{
  background-image: url(../images/bdan_bg.png), url(../images/page_bg.png) , url(../images/img1.jpg);
  background-position: left top,left bottom,left top;
  background-repeat: no-repeat,no-repeat,repeat;
  background-size: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  .prize_sm{
    .prize_sm_detail{
      
      color: #fff;
      font-size: size(17);
      line-height: size(31);
      padding: size(50) size(58) size(78);
      p{
        text-indent: 2em;
      }
    }
  }
  .pz_hr{
    height: size(46);
  }
  .prize-main{
    background: #fff;
    margin: 0 size(18);
    .ranking_select{
      margin: size(40) size(38);
      display: flex;
      flex-direction: row;
      .ranking_ipt{
        flex: 1;
        border:1px solid #eee;
        height: size(80);
        padding: 0 size(10);
        line-height: size(80);
        margin-right: size(15);
      }
      .ranking_btn{
        border: 0;
        background: #ef782f;
        height: size(80);
        width: size(180);
        color: #fff;
        border-radius:size(8);
        &:active{
          opacity: 0.8;
        }
      }
    }
    .prize-title{
      text-align: center;
      padding: size(24) 0;
      img{
        height: size(40);
      }
    }
    .sub-title{
      text-align: center;
      margin-top: size(35);
      position: relative;
      z-index: 2;
      img{
        width: size(180);
      }
    }
    
    .prize-info{
      margin-top: size(72)
    }
    .prize-sug{
      margin: 0 size(38);
      .sug_box{
        position: relative;
        height: size(300);
        
        border-radius: size(8);
        border:1px solid #c1c1c1;
      }
      .sug_hr{
        width: size(16);
      }  
      .sub-jbei{
        position: absolute;
        background: url(../images/p_jbei.png);
        background-size: 100%;
        margin-left: size(-56);

        width: size(112);
        height: size(126);
        left: 50%;
        top: size(-50)
      } 
      .sub-em{
        text-align: center;
        font-size: size(22);
        line-height: size(30);
        margin-top: size(24)
      }  
      .sub-gd{
        text-align: center;
        color: #58ae84;
        font-size: size(23);
        margin-top: size(8);
        line-height: size(28)
      }
      .sub-number{
        text-align: center;
        font-size: size(20);
        margin-top: size(35)
      }
    }
    .pz_firm_title{
      text-align: center;
      img{
        width: size(211);
      }
      
    }
    .pz_firm_list{
      margin: 0 size(38)
    }
    .pz_firm_md{
      padding: size(15) 0
    }
    .pz_firm_li{
      display: block;
      width: size(308);
      // height: size(300);
      border: 1px solid #c1c1c1;
      border-radius: size(8);
      padding: 0 size(24) size(26);
      margin-top: size(30);
      &:nth-child(odd){
        float: left;
      }
      &:nth-child(even){
        float: right;
      }
      .firm_name{
        font-size: size(24);
        margin-top: size(12);
        line-height: 1.2
      }
    }
    .fm_top{
      position: relative;
    }
    $iconwith:73;
    $iconheight:48;
    .ranking_num{
      position: absolute;
      left: 0;;
      top: 0;
      
      height: size($iconheight);
      width: size($iconwith);
      background-size: 100%;
      &.ranking_num1{
        background-image: url(../images/one.png)
      }
      &.ranking_num2{
        background-image: url(../images/two.png)
      }
      &.ranking_num3{
        background-image: url(../images/three.png)
      }
    }

    .fm_number{
      font-size: size(22);
      height: size(60);
    }
    .fm_go{
      font-size: size(22);
      color: #eb640d
    }
    
    .firm_pic{
      height: size(120);
      border-radius: size(8);
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .pz_step{
      border:1px solid #c1c1c1;
      margin: 0 size(38);
      padding: size(18) size(24);
      margin-top: size(70);
      .sp_title{
        img{
          width: size(225);
          height: size(62);
          vertical-align: bottom
        }
      }
      .sp_time{
        text-align: right;
        overflow: hidden;
        height: size(62);
        line-height: size(80);
        color: #eb640d
      }
      .step_detail{
        font-size: size(24);
        line-height: size(36);
        padding: size(16) 0;
        p{
          text-indent: 1em
        }
      }
    }
    .go-sign-in{
      padding: size(135) 0;
      text-align: center;
      .sign-btn{
        display: block;
        background: #eb640d;
        margin: 0 size(38);
        font-size: size(30);
        color: #fff;
        border-radius: size(12);
        height: size(74);
        line-height: size(74);
        &:active{
          opacity: 0.8;
        }
      }
    }
    .sign-up-modle{
      margin: 0 size(38);
      padding-top: size(50);
      .sg_modle-title{
        img{
          height: size(62);
        }
      }
      .sign-must-can{
        padding: size(35) size(54) size(5);
        line-height: size(54);
        font-size: size(18);
      }
      .sign-from{
        .sign-li{
          margin-top: size(29);
          border:1px solid #d6d6d6;
          border-radius: size(30)
        }
        .sign-name{
          width: size(135);
          height: size(64);
          line-height: size(64);
          font-size: size(18);
          padding-left: size(33);
          span{
            color: #e62222
          }
        }
        .sign-iptbox{
          input{
            height: 100%;
            width: 100%;
            line-height: size(64);
            background: transparent;
            border: 0;
            padding-left: size(10)
          }
        }
        .sign-from-label{
          margin-top: size(47);
          font-size: size(22);
          span{
            font-weight: bold
          }
          input[type="checkbox"]{
            margin: 0 size(12);
            vertical-align: top;
            position: relative;
            top: size(-2)
          }
        }
        .text-detail{
          margin-top: size(40);
          textarea{
            height: size(165);
            border:1px solid #c1c1c1;
            width: 100%;
            padding: size(15)
          }
        }
        
      }
      .add_img_box{
        .add_i_left{
          margin: 0 size(40) 0 size(60);
          padding-top: size(33);
          font-size: size(20);
          span{
            color: #e62222
          } 
        }
        .add_i_right{
          margin-left: size(100);
          display: flex;
          display: -webkit-box;
          display: -moz-box; 
          -webkit-box-align:end;
          -moz-box-align:end; 
          font-size: size(16);
          line-height: size(22);
        }
        .add_i_cnt{
          width: size(147);
          height: size(133);
          background-image: url(../images/add_i_btn.png);
          background-size: 100%;
        }
      }
    }
  }
  .bt_bquan{
    height: size(152);
    text-align: center;
    line-height: size(90);
    color: #fff;
    font-size: size(24)
  }

}

.histy_show{
  padding: size(80) 0 size(100);
}
.histy_show_main{ 
  .zz-fuwu-tpbox{
    height: size(285);
    width: 100%;
  }
}
.zz-tpbox-mian{
  width: size(562);
  height: size(285);
  img{
    width: 100%;
  }
}

.djsbox{
  height: size(136);
  text-align: center;
  font-size: size(32);
  color: #fff;
  line-height: size(136);
  span{
      display: inline-block;
      font-size: size(61);
      vertical-align: top;
      line-height: size(61);
      padding-top: size(30);
  }
  span:first-child{
      padding-left: size(20);
  }
}
.coptpbox{
  margin: 0 size(65) size(50);
  padding-bottom: size(128);
  .coptp_name{
      font-size: size(24);
      padding: size(52) 0 size(14);
      .coptp_jx{
          img{
              width: size(68);
              float: left;
              margin-left: size(-22)
          }
          p{
              float: left;
              line-height:size(36) ;
              padding-top: size(8);
              padding-left: size(15)
          }
          span{
              color: #25b181;
              font-weight: bold;
          }
      }
      .coptp_copname{
          text-align: right;
          padding-top: size(10);
          font-size: size(24);
          width: size(180);
          flex: none;
          line-height:size(36) ;
      }
  }
  .coptp_img{
      width: size(585);
      border-radius: size(5);
      border: size(1) solid #ccc;
  }
  .coptop_numbox{
      text-align: right;
      font-size: size(30);
      color: #cb1b16;
      font-weight: bold;
      padding: size(18) 0 size(40);
      p:first-child{
          text-align: left;
          color: #333333;
      }
  }
  .coptp_main{
      margin-top: size(36);
      .coptp_maintle{
          width: size(226);
          height: size(62);
          background: url(../images/img2.png) no-repeat;
          background-size: 100% 100%;
          text-align: right;
          line-height: size(78);
          color: #fff;
          padding-right: size(47);
          font-size: size(24);
      }
      p{
          font-size: size(16);
          color: #221815;
          line-height: size(28);
          text-indent: 2em;
          padding-top: size(15);
      }
  }
  .coptp_btnbox{
      padding: size(90) 0 size(45);
      .coptp_btn{
          width: size(279);
          height: size(74);
          text-align: center;
          line-height: size(74);
          font-size: size(30);
          color: #fff;
          border-radius: size(15);
      }
      .coptp_btn1{
          margin-right: size(14);
          background: #ff5800;
      }
      .coptp_btn2{
          margin-left: size(14);
          background: #12ae7e;
      }
  }
}

.firm_btnbox{
  padding-top: size(30);
  p{
      font-size: size(26);
  }
  .firm_btn{
      width: size(116);
      height:size(30);
      background: #ff5a01;
      border-radius: size(15);
      font-size: size(20);
      text-align: center;
      color: #fff;
      line-height: size(32);
      font-weight: bold;
  }
}
.page_zs{
  background-image: url(../images/zs_page.png), url(../images/page_bg.png) , url(../images/img1.jpg);
  background-position: left top,left bottom,left top;
  background-repeat: no-repeat,no-repeat,repeat;
  background-size: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  .zs_nav{
    margin: 0 size(50);
    padding-top: size(40);
    .zs_nav_li{
      margin-bottom: size(30);

      height: size(100);

      background: rgba($color: #fff, $alpha: 0.2);
      border-radius: size(20);
      &:active{
        background: #488d68
      }
      .zs_icon_box{
        width: size(113);
        
        color: #fff;
        font-size: size(34);
        img{
          height: size(32);
        }
      }
      .zs_nav_name{
        color: #fff;
        font-size: size(38)
      }
      .zs_right_go{
        position: relative;
        width: size(70);
        .right_icon{
          position: absolute;
          left: 0;
          top: 50%;

          width: size(18);
          height: size(18);
          margin-top: size(-9);

          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(45deg)
          
        }
      }
    }
  }
}
.zs-detail-ct{
  margin: size(50) size(30);
  border-radius: size(15);
  padding: size(70) 0;

  background: #fff;
  .dtl-top{
    margin: 0 size(33) 0 size(65)
  }
  .pgname{
    font-size: size(38);
    color: #6cb793;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      height: size(14);
      width: size(37);
      left: 0;
      top:size(0);
      background: url(../images/img5.png);
      background-size: 100% 
    }
  }
  .price_mey{
    margin-right: size(30);
    span{
      font-size: size(60);
    }
  }
  .lastnum{
    span{
      display: inline-block;
      position: relative;
      top: size(-3)
    }
  }
  .dtl-wrd{
    margin: size(80) size(33) 0 size(65);
    position: relative;
    &::before{
      content: '';
      position: absolute;
      height: size(14);
      width: size(37);
      left: 0;
      top:size(-10);
      background: url(../images/img5.png);
      background-size: 100% 
    }
    .wrd-li{
      position: relative;
      padding-left: size(33);
      line-height: size(60)
    }
    .dfmnum{
      position: absolute;
      left: 0;
    }
  }
  .dtl-imglist{
    margin: size(42) size(65) 0;
    img{
      width: 100%;
      margin-bottom: size(20)
    }
  }
}
.page-header{
  height: size(98);
  .header-main{
    height: size(98);
    position: fixed;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .header-left,.header-right{
    width: size(98);
    position: relative;
  }
  .header-content{
    font-size: size(34)
  }
  .block_icon{
    height: size(20);
    width: size(20);
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    transform: rotate(45deg)
  }
  .bm_btn{
    height: size(44);
    width: size(120);
    display: block;
    text-align: center;
    line-height: size(44);
    background: #e9ad41;
    color: #fff;
    border-radius: size(10);
    right: size(28);
    position: absolute;
  }
}
.bmform{
  background: #fff;
  .bmtitle{
    text-align: center;
    padding: size(55) 0 size(85);
    position: relative;
    &::after{
      width: size(32);
      height: size(12);
      background-image: url(../images/img5.png);
      background-size: size(32) size(12);
      background-position: left bottom;
      background-repeat: no-repeat;
      position: absolute;
      content: '';
      left: 50%;
      margin-left: size(-16);
      bottom: size(50)
    }
    .ttimg{
      width: size(207);
    }
  }
  .bmli{
      padding: 0 size(70) 0 size(47);
      .sticon{
          font-size: size(32);
          color: #ba1414;
          line-height: size(100);
      }
      .bmnr{
          width: size(610);
          line-height: size(100);
          border-bottom: size(2) solid #b2b2b2;
          a{
              font-size: size(24);
              text-align: right;
          }
          .bmname{
              width: size(133);
              font-size: size(32);
              color: #000;
          }
          .bmnr_input{
              font-size: size(30);
              text-align: right;
              border: 0;
          }
          .bm_checkbox{
              font-size: size(28);
              color: #000000;     
              padding-right: size(90);    
              .bmnr_check{
                  width: size(30);
                  height: size(30);
                  position: relative;
                  background: #ffffff;
                  border: solid size(3) #000;
                  display: table;
                  -webkit-appearance: none;
                  transition: background-color ease 0.1s;
                  border-radius: 0;
                  margin-right: size(12);
                  margin-left: size(75);
              }
              .bmnr_check:checked:before,.bmnr_check:checked:after{
                  position: absolute;
                  left: size(3);
                  top: size(3);
                  width: size(20);
                  height: size(20);
                  background: #ba1414;
                  display: table;
                  content: "";
              }
          }
          .bm_checkts{
              img{
                  height: size(26);
                  margin-top: size(35);
                  margin-left: size(20);
              }
          }
          .bm_pricemain{
              font-size: size(30);
              .bm_pricenum{
                  padding-top: size(16);
                  padding-left: size(30);
                  input{
                      display: inline-block;
                      float: left;
                      height: size(40);
                      line-height: size(40);
                      border-color: #000;
                      border-width: size(1);
                      width: size(40);
                      background: transparent;
                  }
                  .text_box{
                      width: size(50);
                      text-align: center;
                      border-left: 0;
                      border-radius: 0;
                      border-right: 0;
                  }
                  .min{
                      border-radius: size(5) 0 0 size(5);
                  }
                  .add{
                      border-radius: 0 size(5) size(5) 0;
                      
                  }
              }
          }
      }
  }
  .bmtextbox{
      .bmnr{
          border: 0;    
      }
      .bmnr_text{
          width: size(610);
          font-size: size(30);
          padding: size(23) 0 0 size(23);
          font-family: "微软雅黑";
      }
  }
  .bm_pricebox{
      padding-top: size(15);
      .bmnr{
          border: 0;
          width: 100%;
          line-height: size(70);
      }
      .bmnr_check{
          margin-left: size(40) !important;
      }   
  }
}
.bmbox{
  background-image: url(../images/page_bg.png) , url(../images/img1.jpg);
  background-position:  left bottom,left top;
  background-repeat: no-repeat,  repeat;
  background-size: 100% auto,100% auto,100% auto;
  overflow: hidden;
  min-height: 100%;
  .bmband{
    width: 100%;
  }
}
.zfbtn_box{
  background: #fff;
  padding: size(75) 0 size(50);
  margin-bottom: size(96);
  .zfbtn{
    font-size: size(36);
    color: #fff;
    text-align: center;
    width: size(228);
    height: size(228);
    border-radius: 50%;
    background: #409b6f;
    display: block;
    line-height: size(228);
    margin:0 auto ;
    &:active{
      opacity: 0.8;
    }
  }
}

.zhifu{
  background: #fff;
  font-size: size(30);
  color: #000000;
  padding: size(50) size(70) 0;
  // margin: 0 auto;
  line-height: size(75);
  padding-bottom: size(1);
  .zhifu_tle{
      font-size: size(32);
  }
  .zhifu_con{
      border-top: size(2) solid #000;        
      border-bottom: size(2) solid #000;
      padding: size(15) 0 size(15) size(30);
      .zhifu_name{
          width: size(173);
      }
  }
  .zfbtn{
      margin-top: size(30);
  }
}

.right_poit{
  position: fixed;
  right: 0;
  bottom: 40%;
  z-index: 10;
  .rp_go{
    display: block;
    height: size(64);
    width: size(324);
    margin-bottom: size(10);
    background-size: 100%;
    &.rp_go1{
      background-image: url(../images/ltnav1.png);
    }
    &.rp_go2{
      background-image: url(../images/ltnav2.png);
    }
    &.rp_go3{
      background-image: url(../images/ltnav3.png);
    }
    &.rp_go4{
      background-image: url(../images/ltnav4.png);
    }
    &.rp_go_1{
      background-image: url(../images/ltnav_1.png);
    }
    &.rp_go_2{
      background-image: url(../images/ltnav_2.png);
    }
    &.rp_go_3{
      background-image: url(../images/ltnav_3.png);
    }
    &.rp_go_4{
      background-image: url(../images/ltnav_4.png);
    }
  }
}