.zbt_mainbox
    .zbt_list
        .tle <span>企业实力多方位展现，提升品牌形象</span>
        .zbt_md
            .md_tle <i></i>百万商机免费看
            .md_cont 客户信息随心查看，直接电话畅谈合作。
            .md_img
                img(src="./images/shangji.png", alt="")
        .zbt_md
            .md_tle <i></i>优先排序展示
            .md_cont 信息搜索优先展示，搜索排序靠前曝光度高。
            .md_img
                img(src="./images/paixu_zst.png", alt="")
        .zbt_md
            .md_tle <i></i>信息定时自动刷新
            .md_cont 刷新时间任由你定（<span>1次/天</span>），系统自动刷新，无需多次重复操作。
            .md_img
                img(src="./images/shuaxin_1.png", alt="")
        .zbt_md
            .md_tle <i></i>个性化独立商铺
            .md_cont PC端+手机站多方位展示，个性化设计让您脱颖而出。 
            .md_img
                img(src="./images/gexin_zst.png", alt="")
        .zbt_md
            .md_tle <i></i>享再生通会员标志
            .md_cont 搜索结果及商铺显示再生通会员标志，尊贵身份，值得信赖。 
            .md_img
                img(src="./images/biaozhi_zst.png", alt="")
    
    .zbt_list
        .tle <span>平台核心营销支持，促转化成交</span>
        .zbt_md
            .md_tle <i></i>关键字投放</span>
            .md_cont 整站日均 <span>50</span> 万流量，针对性投放，提高 <span>10</span> 倍曝光量，助力品牌传播，直击您的目标客户群。
            .md_img
                .md_imgTle 3个月置顶广告
                img(src="./images/gjz_1.png", alt="")
            .md_img
                .md_imgTle 3个月独家广告
                img(src="./images/gjz_2.png", alt="")
            .md_img
                .md_imgTle 3个月百度微门户
                img(src="./images/gjz_3.png", alt="")
    .zbt_list
        .tle <span>微营销，高转化，快速实现品效合一</span>
        .zbt_md
            .md_tle <i></i>微信行业群
            .md_cont 再生资源九大垂直行业，多品类活跃用户群，一键加入，高效沟通，促交易。
            .md_img
                img(src="./images/weixinqun_jp.png", alt="")
        .zbt_md
            .md_tle <i></i>微信商机推文
            .md_cont 优质商机文推送<span>（1次）</span>，锁定目标用户群，精准投放，快速实现供需匹配。
            .md_img
                img(src="./images/fw_img7.png", alt="")    
        .zbt_md
            .md_tle <i></i>微信朋友圈推广
            .md_cont 聚焦百万级行业用户，多形式投放<span>（3次）</span>，获客快，靠谱推荐，有效商圈无限扩大。
            .md_img
                img(src="./images/fw_img8.png", alt="")
    
    .zbt_list
        .tle <span>短视频推广，创新社交营销，抢占流量洼地</span>
        .zbt_md
            .md_tle <i></i>短视频推送
            .md_cont 优质短视频<span>（推送1次）</span>，针对性投放主流平台，直观真实展示，信任度更高，更易传播获客。
            .md_img
                img(src="./images/dship.png", alt="")

    .zbt_list
        .tle <span>数据营销，效果实时掌握，运营快速高效</span>
        .zbt_md
            .md_tle <i></i>运营效果，了如指掌
            .md_cont 智能统计分析商铺运营数据，并提供优化建议，助企业快速调整，提升运营效果。
            .md_img
                img(src="./images/xiaoguo.png", alt="")
        .zbt_md
            .md_tle <i></i>转化信息，智能提醒
            .md_cont 绑定91再生服务号，访客、询盘等转化信息实时推送，及时洽谈，快速转化，不错失商机。
            .md_img
                img(src="./images/tixing.png", alt="")
    
    .zbt_list
        .tle <span>覆盖国内行业会展，智能投放推广， <br>提高企业品牌形象</span>
        .zbt_md
            .md_img
                img(src="./images/IMG_5028.png", alt="")