.bt_nav
    .bt_nav_main.weui-flex
      if(navindex==0)
        a.weui-flex__item.nav_li.thisnav(href="index.html")
          .nav_li_c
            i.nav_icon1
            div 首页
      else
        a.weui-flex__item.nav_li(href="index.html")
          .nav_li_c
            i.nav_icon1
            div 首页
      
      if(navindex==1)
        a.weui-flex__item.nav_li.thisnav(href="zs_index.html")
          .nav_li_c
            i.nav_icon2
            div 招商
      else
        a.weui-flex__item.nav_li(href="zs_index.html")
          .nav_li_c
            i.nav_icon2
            div 招商

      if(navindex==2)
        a.weui-flex__item.nav_li.thisnav(href="baoming.html")
          .nav_li_c
            i.nav_icon3
            div 报名
      else
        a.weui-flex__item.nav_li(href="baoming.html")
          .nav_li_c
            i.nav_icon3
            div 报名
      //- http://m.zz91.com/vote/v2019plastic/
      if(navindex==3)
        //- https://m.zz91.com/vote/v2019plastic/prize_index.html
        a.weui-flex__item.nav_li.thisnav(href="https://m.zz91.com/vote/v2019plastic/prize_index.html")  
          .nav_li_c
            i.nav_icon4
            div 奖项
      else
        a.weui-flex__item.nav_li(href="https://m.zz91.com/vote/v2019plastic/prize_index.html")
          .nav_li_c
            i.nav_icon4
            div 榜单
