extends component-box

block css
  link(rel="stylesheet",type="text/css", href="#{webtop}css/index.css")
  
block content
  .page_prize
    .page-band-height
    .djsbox
      距离投票结束仅剩
      span.hour 72
      | :
      span.min 00
      | :
      span.second 00
    .prize-main 
      .coptpbox
          .coptp_name.weui-flex
            .weui-flex__item.coptp_jx 
              img(src="#{webtop}images/p_jbei.png")
              p
                | 91再生·<br>2018再生塑料“百家诚信”企业<br>
                span 十大品牌供应商
            .weui-flex__item.coptp_copname.
              编号:1000<br>
              山东省济南某某某某某公司
          img.coptp_img(src="#{webtop}images/js_img.png")
          .coptop_numbox.weui-flex
            p.weui-flex__item 编号:001
            p.weui-flex__item 票数  1008 
          .coptp_main
            .coptp_maintle 企业简介
            p 本公司本公司于2004年1月成立，位于山东省济南市，注册资金2000万人民币，主要从事再生塑料回收、加工与销售。
          .coptp_main
            .coptp_maintle 申报理由
            p 本公司于2004年1月成立，位于山东省济南市，注册资金2000万人民币，主要从事再生塑料回收、加工与销售。
          .coptp_main
            .coptp_maintle 企业地址
            p 山东省济南市山东省济南市山东省济南市山东省济南市山东省济
          .coptp_btnbox.weui-flex
            .coptp_btn.coptp_btn1.weui-flex__item 投他一票
            .coptp_btn.coptp_btn2.weui-flex__item 为他拉票
          .coptp_main
            .coptp_maintle 投票规则
            p 1.每个微信号投票前需先关注“再生汇”微信公众号；
            p 2.每个奖项分开计票，每个微信账号每天最多可投5票，可选企业数量不限，票数计入评定结果；
            p 3.在“再生汇”底部菜单栏位置开设了【榜单评选】栏目，方便大家为候选企业投票。