extends zs_index

block zs_content
  - var detailinfo = {detailname:'酒水赞助',price_mey:'20000',price_unt:'元',lastpp:'1',flow:['标准展位一个','主持人介绍5次（晚宴期间）','会刊整版广告一个','所有酒水中广告露出（白天用水广告露出，晚上酒饮料广告露出）','2个参会名额','91再生公众号推送'],imglist:['zsdtl9.png','zsdtl10.png']}
    include component-detail