extends zs_index

block zs_content
  - var detailinfo = {detailname:'手提袋赞助',price_mey:'15000',price_unt:'元',lastpp:'1',flow:['手提袋一面整版广告','会刊整版广告一个','2个参会名额','资料入袋（资料客户提供）','LED图片广告轮播','91再生公众号推送'],imglist:['zsdtl13.png']}
    include component-detail