extends zs_index

block zs_content
  - var detailinfo = {detailname:'品牌广告',price_mey:'10000',price_unt:'元',lastpp:'2',flow:['大幅度桁架喷绘广告','2个参会名额','LED图片广告轮播','会刊整版广告一个'],imglist:['zsdtl3.png','zsdtl4.png']}
    include component-detail