extends zs_index

block zs_content
  - var detailinfo = {detailname:'演 讲',price_mey:'15000',price_unt:'元',lastpp:'2',flow:['15分钟主题演讲（PPT自己准备）','标准展位一个','2个参会名额','会刊彩色整版广告一个','LED图片广告轮播','91再生公众号推送'],imglist:['zsdtl5.png']}
    include component-detail