extends zs_index

block zs_content
  - var detailinfo = {detailname:'参会证赞助',price_mey:'16800',price_unt:'元',lastpp:'1',flow:['会刊整版广告一个','标准展位一个','资料入袋（资料客户提供）','2个参会名额','LED图片广告轮播','91再生公众号推送'],imglist:['zsdtl14.png']}
    include component-detail