extends zs_index

block zs_content
  - var detailinfo = {detailname:'报名费',price_mey:'500',price_unt:'元/位',lastpp:'300',flow:['参加大会展览区，开幕及所有论坛活动','信息录入会刊','交流晚宴'],imglist:['zsdtl1.png']}
    include component-detail