extends zs_index

block zs_content
  - var detailinfo = {detailname:'供求信息表',price_mey:'8000',price_unt:'元',lastpp:'1',flow:['供求信息表头部广告','会刊整版广告一个','1个参会名额','LED图片广告轮播','91再生公众号推送'],imglist:['zsdtl16.png','zsdtl17.png']}
    include component-detail