extends zs_index

block zs_content
  - var detailinfo = {detailname:'晚宴赞助',price_mey:'20000',price_unt:'元',lastpp:'4',flow:['标准展位一个','白天会议LED视频广告轮播，视频自己提供（禁用手机拍摄视频）','2个参会名额','会刊整版广告一个','晚宴全场冠名，主持人上台每次播报，桌台广告露出；10桌标准','LED图片广告轮播','91再生公众号推送'],imglist:['zsdtl8.png']}
    include component-detail