extends zs_index

block zs_content
  - var detailinfo = {detailname:'信息墙品牌广告',price_mey:'5000',price_unt:'元/位',lastpp:'3',flow:['相应高宽度行架喷绘广告宣传','会刊整版广告一个','LED图片广告轮播','1个参会名额','91再生公众号推送'],imglist:['zsdtl7.png']}
    include component-detail