extends zs_index

block zs_content
  - var detailinfo = {detailname:'易拉宝',price_mey:'2000',price_unt:'元',lastpp:'10',flow:['易拉宝尺寸82*180（由91再生设计团队设计）','会议期间易拉宝展示区展出','LED图片广告轮播'],imglist:['zsdtl6.png']}
    include component-detail