extends zs_index

block zs_content
  - var detailinfo = {detailname:'资料入袋',price_mey:'3000',price_unt:'元',lastpp:'N',flow:['资料客户提供'],imglist:['zsdtl11.png','zsdtl12.png']}
    include component-detail