extends zs_index

block zs_content
  - var detailinfo = {detailname:'标准展位',price_mey:'6800',price_unt:'元/位',lastpp:'20',flow:['3*3标准展位一个：背景墙设计制作，两个人的镯子椅子，两份工作餐','会刊彩色整版广告一个，会刊一本','参会名额两个，晚宴交流名额两个','LED图片广告轮播','91再生公众号推送'],imglist:['zsdtl2.png']}
    include component-detail