section.swiper-slide.page3(data-hash="slide3")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = []
      each item in imglist
        img(src="#{webtop}images/#{item}")
    
    .slide-main_box
      img.page_bg(src='#{webtop}/images/02_toppic.png')
      .page-up.ptabsolet
      
      .page-content.ani(swiper-animate-effect="zoomIn",swiper-animate-duration="0.5s",swiper-animate-delay=".5s")
        .page-content-top

        img.page3-md1(src="#{webtop}/images/ptitle.png")
        .page3-md2

        .page3-md3
          .jhadr 供应商企业
          .ptname.
            91再生·再生影响力<br>
            2018年度榜单
          .ptname-dt.
            再生塑料<br>
            诚信供应商
                                    
        .page3-md4
          .jhadr 采购商企业
          .ptname.
            91再生·再生影响力<br> 
            2018年度榜单
          .ptname-dt.
            再生塑料<br>
            诚信采购商
                        
        .page3-md5
          .jhadr 服务商企业
          .ptname.
            91再生·再生影响力<br>
            2018年度榜单
          .ptname-dt.
            再生塑料<br>
            诚信服务商
                        



