section.swiper-slide.page4(data-hash="slide4")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = []
      each item in imglist
        img(src="#{webtop}images/#{item}")
    
    .slide-main_box
      img.page_bg(src='#{webtop}/images/02_toppic.png')
      .page-up.ptabsolet
      
      .page-content.ani(swiper-animate-effect="zoomIn",swiper-animate-duration="0.5s",swiper-animate-delay=".5s")
        .page-content-top

        img.page3-md1(src="#{webtop}/images/ptitle2.png")
        .page3-md2

        .start-time1 2月19日 - 3月14日
        .start-aff1 入围企业公示

        .start-time2 3月15日 - 3月31日
        .start-aff2 公开投票

        .start-time3 4月25日
        .start-aff3.
          揭晓91再生·再生影响力2018年度榜单<br>
          获奖企业及个人，并举行授牌颁奖仪式
                        



