section.swiper-slide.page2(data-hash="slide2")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = []
      each item in imglist
        img(src="#{webtop}images/#{item}")
    
    .slide-main_box
      img.page_bg(src='#{webtop}/images/02_toppic.png')
      .page-up.ptabsolet
      
      .page-content.ani(swiper-animate-effect="zoomIn",swiper-animate-duration="0.5s",swiper-animate-delay=".5s")
        .page-content-top
        .page2-md1-detaile2 尊敬的 客户名称举例：
        .page-md1-detaile3
          p 热烈恭喜您入围“91再生·再生影响力2018年度榜单”，感谢您一直以来对91再生的信任与支持，现诚挚邀请您参加4月25日第四届再生塑料峰会举行的“91再生·再生影响力2018年度榜单”颁奖仪式。
          p 91再生深耕行业十多年来，一直试图以礼赞“产业精英” 的方式，记录下中国再生塑料行业前进步伐。今年，我们将从上千家企业和个人提名中投选出行业最具有代表性的企业，以记录下中国再生行业迈向新时代的盛世华章，并藉此向所有推动中国再生资源发展的人致敬！
          p 我们真诚期待您的到来！


